Triplets/CRM/Atlantis.Framework.CRM/Atlantis.Framework.CRM.Impl/Web References/crmTaskUtil/TaskUtil1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GoDaddy.CRM.ClientAPI.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GoDaddy.CRM.ClientAPI.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EnrolledInDTVSRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="shopperID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnrolledInDTVSRequest" nillable="true" type="tns:EnrolledInDTVSRequest" />
  <xs:complexType name="EnrolledInDTVSResponse">
    <xs:sequence>
      <xs:element name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnrolledInDTVSResponse" nillable="true" type="tns:EnrolledInDTVSResponse" />
  <xs:complexType name="CloseDTVSTaskRequest">
    <xs:sequence>
      <xs:element name="domainID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CloseDTVSTaskRequest" nillable="true" type="tns:CloseDTVSTaskRequest" />
  <xs:complexType name="AddWrapUpReasonRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="shopperID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="managerUserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="taskActionTypeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="communicationTypeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="wrapUpText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddWrapUpReasonRequest" nillable="true" type="tns:AddWrapUpReasonRequest" />
  <xs:complexType name="InsertPrivacyDataAndScheduleCallRequest">
    <xs:sequence>
      <xs:element name="privacyXml" nillable="true" type="xs:string" />
      <xs:element name="taskCreationXml" nillable="true" type="xs:string" />
      <xs:element name="clientId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertPrivacyDataAndScheduleCallRequest" nillable="true" type="tns:InsertPrivacyDataAndScheduleCallRequest" />
  <xs:complexType name="InsertPrivacyDataAndScheduleCallResponse">
    <xs:sequence>
      <xs:element name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertPrivacyDataAndScheduleCallResponse" nillable="true" type="tns:InsertPrivacyDataAndScheduleCallResponse" />
</xs:schema>