Triplets/CRM/Atlantis.Framework.CRM/Atlantis.Framework.CRM.Impl/Web References/crmTaskUtil/TaskUtil.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://godaddy.com/CRMClientAPI" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TaskUtil" targetNamespace="http://godaddy.com/CRMClientAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="AnonymousBinding_ITaskUtil_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://godaddy.com/CRMClientAPI/Imports">
      <xsd:import schemaLocation="https://crmclient-api.dev.int.godaddy.com/TaskUtil.svc?xsd=xsd0" namespace="http://godaddy.com/CRMClientAPI" />
      <xsd:import schemaLocation="https://crmclient-api.dev.int.godaddy.com/TaskUtil.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://crmclient-api.dev.int.godaddy.com/TaskUtil.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GoDaddy.CRM.ClientAPI.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITaskUtil_IsEnrolledInDTVS_InputMessage">
    <wsdl:part name="parameters" element="tns:IsEnrolledInDTVS" />
  </wsdl:message>
  <wsdl:message name="ITaskUtil_IsEnrolledInDTVS_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsEnrolledInDTVSResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskUtil_CloseDTVSTask_InputMessage">
    <wsdl:part name="parameters" element="tns:CloseDTVSTask" />
  </wsdl:message>
  <wsdl:message name="ITaskUtil_CloseDTVSTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseDTVSTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskUtil_AddWrapUpReason_InputMessage">
    <wsdl:part name="parameters" element="tns:AddWrapUpReason" />
  </wsdl:message>
  <wsdl:message name="ITaskUtil_AddWrapUpReason_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddWrapUpReasonResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskUtil_InsertPrivacyDataAndScheduleCall_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertPrivacyDataAndScheduleCall" />
  </wsdl:message>
  <wsdl:message name="ITaskUtil_InsertPrivacyDataAndScheduleCall_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertPrivacyDataAndScheduleCallResponse" />
  </wsdl:message>
  <wsdl:portType name="ITaskUtil">
    <wsdl:operation name="IsEnrolledInDTVS">
      <wsdl:input wsaw:Action="http://godaddy.com/CRMClientAPI/ITaskUtil/IsEnrolledInDTVS" message="tns:ITaskUtil_IsEnrolledInDTVS_InputMessage" />
      <wsdl:output wsaw:Action="http://godaddy.com/CRMClientAPI/ITaskUtil/IsEnrolledInDTVSResponse" message="tns:ITaskUtil_IsEnrolledInDTVS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseDTVSTask">
      <wsdl:input wsaw:Action="http://godaddy.com/CRMClientAPI/ITaskUtil/CloseDTVSTask" message="tns:ITaskUtil_CloseDTVSTask_InputMessage" />
      <wsdl:output wsaw:Action="http://godaddy.com/CRMClientAPI/ITaskUtil/CloseDTVSTaskResponse" message="tns:ITaskUtil_CloseDTVSTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddWrapUpReason">
      <wsdl:input wsaw:Action="http://godaddy.com/CRMClientAPI/ITaskUtil/AddWrapUpReason" message="tns:ITaskUtil_AddWrapUpReason_InputMessage" />
      <wsdl:output wsaw:Action="http://godaddy.com/CRMClientAPI/ITaskUtil/AddWrapUpReasonResponse" message="tns:ITaskUtil_AddWrapUpReason_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertPrivacyDataAndScheduleCall">
      <wsdl:input wsaw:Action="http://godaddy.com/CRMClientAPI/ITaskUtil/InsertPrivacyDataAndScheduleCall" message="tns:ITaskUtil_InsertPrivacyDataAndScheduleCall_InputMessage" />
      <wsdl:output wsaw:Action="http://godaddy.com/CRMClientAPI/ITaskUtil/InsertPrivacyDataAndScheduleCallResponse" message="tns:ITaskUtil_InsertPrivacyDataAndScheduleCall_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AnonymousBinding_ITaskUtil" type="tns:ITaskUtil">
    <wsp:PolicyReference URI="#AnonymousBinding_ITaskUtil_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsEnrolledInDTVS">
      <soap:operation soapAction="http://godaddy.com/CRMClientAPI/ITaskUtil/IsEnrolledInDTVS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseDTVSTask">
      <soap:operation soapAction="http://godaddy.com/CRMClientAPI/ITaskUtil/CloseDTVSTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWrapUpReason">
      <soap:operation soapAction="http://godaddy.com/CRMClientAPI/ITaskUtil/AddWrapUpReason" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPrivacyDataAndScheduleCall">
      <soap:operation soapAction="http://godaddy.com/CRMClientAPI/ITaskUtil/InsertPrivacyDataAndScheduleCall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TaskUtil">
    <wsdl:port name="AnonymousBinding_ITaskUtil" binding="tns:AnonymousBinding_ITaskUtil">
      <soap:address location="https://crmclient-api.dev.int.godaddy.com/TaskUtil.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>