Triplets/DotTypeRegistration/Atlantis.Framework.DotTypeValidation.Impl/Web References/RegAppTokenWebSvc/RegAppTokenWebSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://m1pwdtvapp-v01.prod.mesa1.gdg/RegAppTokenWebSvc" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://m1pwdtvapp-v01.prod.mesa1.gdg/RegAppTokenWebSvc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://m1pwdtvapp-v01.prod.mesa1.gdg/RegAppTokenWebSvc">
      <s:element name="VerifyPIIData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestXml" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nTldId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="strClientAppName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strServerName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyPIIDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyPIIDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterPIIData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterPIIDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterPIIDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterPIIDataExt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterPIIDataExtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterPIIDataExtResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePIIData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestXml" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nTldId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="lDomainId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="strClientAppName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strServerName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePIIDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdatePIIDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVersion">
        <s:complexType />
      </s:element>
      <s:element name="GetVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test">
        <s:complexType />
      </s:element>
      <s:element name="TestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VerifyPIIDataSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyPIIData" />
  </wsdl:message>
  <wsdl:message name="VerifyPIIDataSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyPIIDataResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterPIIDataSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterPIIData" />
  </wsdl:message>
  <wsdl:message name="RegisterPIIDataSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterPIIDataResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterPIIDataExtSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterPIIDataExt" />
  </wsdl:message>
  <wsdl:message name="RegisterPIIDataExtSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterPIIDataExtResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePIIDataSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePIIData" />
  </wsdl:message>
  <wsdl:message name="UpdatePIIDataSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePIIDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="GetVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:portType name="RegAppTokenWebSvcSoap">
    <wsdl:operation name="VerifyPIIData">
      <wsdl:input message="tns:VerifyPIIDataSoapIn" />
      <wsdl:output message="tns:VerifyPIIDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterPIIData">
      <wsdl:input message="tns:RegisterPIIDataSoapIn" />
      <wsdl:output message="tns:RegisterPIIDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterPIIDataExt">
      <wsdl:input message="tns:RegisterPIIDataExtSoapIn" />
      <wsdl:output message="tns:RegisterPIIDataExtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePIIData">
      <wsdl:input message="tns:UpdatePIIDataSoapIn" />
      <wsdl:output message="tns:UpdatePIIDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <wsdl:input message="tns:GetVersionSoapIn" />
      <wsdl:output message="tns:GetVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegAppTokenWebSvcSoap" type="tns:RegAppTokenWebSvcSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerifyPIIData">
      <soap:operation soapAction="http://m1pwdtvapp-v01.prod.mesa1.gdg/RegAppTokenWebSvc/VerifyPIIData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterPIIData">
      <soap:operation soapAction="http://m1pwdtvapp-v01.prod.mesa1.gdg/RegAppTokenWebSvc/RegisterPIIData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterPIIDataExt">
      <soap:operation soapAction="http://m1pwdtvapp-v01.prod.mesa1.gdg/RegAppTokenWebSvc/RegisterPIIDataExt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePIIData">
      <soap:operation soapAction="http://m1pwdtvapp-v01.prod.mesa1.gdg/RegAppTokenWebSvc/UpdatePIIData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="http://m1pwdtvapp-v01.prod.mesa1.gdg/RegAppTokenWebSvc/GetVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://m1pwdtvapp-v01.prod.mesa1.gdg/RegAppTokenWebSvc/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RegAppTokenWebSvcSoap12" type="tns:RegAppTokenWebSvcSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerifyPIIData">
      <soap12:operation soapAction="http://m1pwdtvapp-v01.prod.mesa1.gdg/RegAppTokenWebSvc/VerifyPIIData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterPIIData">
      <soap12:operation soapAction="http://m1pwdtvapp-v01.prod.mesa1.gdg/RegAppTokenWebSvc/RegisterPIIData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterPIIDataExt">
      <soap12:operation soapAction="http://m1pwdtvapp-v01.prod.mesa1.gdg/RegAppTokenWebSvc/RegisterPIIDataExt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePIIData">
      <soap12:operation soapAction="http://m1pwdtvapp-v01.prod.mesa1.gdg/RegAppTokenWebSvc/UpdatePIIData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <soap12:operation soapAction="http://m1pwdtvapp-v01.prod.mesa1.gdg/RegAppTokenWebSvc/GetVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://m1pwdtvapp-v01.prod.mesa1.gdg/RegAppTokenWebSvc/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegAppTokenWebSvc">
    <wsdl:port name="RegAppTokenWebSvcSoap" binding="tns:RegAppTokenWebSvcSoap">
      <soap:address location="https://dtvapp.dev.glbt1.gdg/RegAppTokenWebSvc/RegAppTokenWebSvc.asmx" />
    </wsdl:port>
    <wsdl:port name="RegAppTokenWebSvcSoap12" binding="tns:RegAppTokenWebSvcSoap12">
      <soap12:address location="https://dtvapp.dev.glbt1.gdg/RegAppTokenWebSvc/RegAppTokenWebSvc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>