Atlantis.Framework.EcommLOCAccounts/Atlantis.Framework.EcommLOCAccounts.Impl/Web References/LOCSvc/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAccountsForShopper">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sShopperID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountsForShopperResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountsForShopperResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sResultXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDetailsForAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sShopperID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iAccountID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sStartDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sEndDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDetailsForAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDetailsForAccountResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sResultXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailableCreditByAccountID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sShopperID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iAccountID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailableCreditByAccountIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAvailableCreditByAccountIDResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="creditAvailable" type="tns:CurrencyAmount" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CurrencyAmount">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="iAmount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="sCurrency" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAvailableCreditByAccountNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sShopperID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sAccountNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailableCreditByAccountNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAvailableCreditByAccountNumberResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="creditAvailable" type="tns:CurrencyAmount" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountIDByAccountNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sShopperID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sAccountNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountIDByAccountNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountIDByAccountNumberResult" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iAccountID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShopperHasLOC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sShopperID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShopperHasLOCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShopperHasLOCResult" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bShopperHasLOC" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAccountsForShopperSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountsForShopper" />
  </wsdl:message>
  <wsdl:message name="GetAccountsForShopperSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountsForShopperResponse" />
  </wsdl:message>
  <wsdl:message name="GetDetailsForAccountSoapIn">
    <wsdl:part name="parameters" element="tns:GetDetailsForAccount" />
  </wsdl:message>
  <wsdl:message name="GetDetailsForAccountSoapOut">
    <wsdl:part name="parameters" element="tns:GetDetailsForAccountResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvailableCreditByAccountIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetAvailableCreditByAccountID" />
  </wsdl:message>
  <wsdl:message name="GetAvailableCreditByAccountIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetAvailableCreditByAccountIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvailableCreditByAccountNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetAvailableCreditByAccountNumber" />
  </wsdl:message>
  <wsdl:message name="GetAvailableCreditByAccountNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetAvailableCreditByAccountNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountIDByAccountNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountIDByAccountNumber" />
  </wsdl:message>
  <wsdl:message name="GetAccountIDByAccountNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountIDByAccountNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ShopperHasLOCSoapIn">
    <wsdl:part name="parameters" element="tns:ShopperHasLOC" />
  </wsdl:message>
  <wsdl:message name="ShopperHasLOCSoapOut">
    <wsdl:part name="parameters" element="tns:ShopperHasLOCResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetAccountsForShopper">
      <wsdl:input message="tns:GetAccountsForShopperSoapIn" />
      <wsdl:output message="tns:GetAccountsForShopperSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDetailsForAccount">
      <wsdl:input message="tns:GetDetailsForAccountSoapIn" />
      <wsdl:output message="tns:GetDetailsForAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableCreditByAccountID">
      <wsdl:input message="tns:GetAvailableCreditByAccountIDSoapIn" />
      <wsdl:output message="tns:GetAvailableCreditByAccountIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableCreditByAccountNumber">
      <wsdl:input message="tns:GetAvailableCreditByAccountNumberSoapIn" />
      <wsdl:output message="tns:GetAvailableCreditByAccountNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountIDByAccountNumber">
      <wsdl:input message="tns:GetAccountIDByAccountNumberSoapIn" />
      <wsdl:output message="tns:GetAccountIDByAccountNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShopperHasLOC">
      <wsdl:input message="tns:ShopperHasLOCSoapIn" />
      <wsdl:output message="tns:ShopperHasLOCSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccountsForShopper">
      <soap:operation soapAction="http://tempuri.org/GetAccountsForShopper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetailsForAccount">
      <soap:operation soapAction="http://tempuri.org/GetDetailsForAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableCreditByAccountID">
      <soap:operation soapAction="http://tempuri.org/GetAvailableCreditByAccountID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableCreditByAccountNumber">
      <soap:operation soapAction="http://tempuri.org/GetAvailableCreditByAccountNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountIDByAccountNumber">
      <soap:operation soapAction="http://tempuri.org/GetAccountIDByAccountNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShopperHasLOC">
      <soap:operation soapAction="http://tempuri.org/ShopperHasLOC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccountsForShopper">
      <soap12:operation soapAction="http://tempuri.org/GetAccountsForShopper" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetailsForAccount">
      <soap12:operation soapAction="http://tempuri.org/GetDetailsForAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableCreditByAccountID">
      <soap12:operation soapAction="http://tempuri.org/GetAvailableCreditByAccountID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableCreditByAccountNumber">
      <soap12:operation soapAction="http://tempuri.org/GetAvailableCreditByAccountNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountIDByAccountNumber">
      <soap12:operation soapAction="http://tempuri.org/GetAccountIDByAccountNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShopperHasLOC">
      <soap12:operation soapAction="http://tempuri.org/ShopperHasLOC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://gdcomm.dev.glbt1.gdg/WSgdLOC/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://gdcomm.dev.glbt1.gdg/WSgdLOC/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>