Atlantis.Framework.FastballGetOffersList/Atlantis.Framework.FastballGetOffersList.Impl/Web References/OffersAPI/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="#fastball.offersapi" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="fastball.Product" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="#fastball.offersapi" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="#fastball.offersapi">
      <s:import namespace="fastball.Product" />
      <s:element name="GetOffersAndMessageData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChannelRequestXml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CandidateRequestXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOffersAndMessageDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OfferResult" nillable="true" type="tns:OfferResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OfferResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ResultCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CandidateAttributeXml" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SelectedOffers" type="tns:ArrayOfOffer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOffer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Offer" nillable="true" type="tns:Offer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Offer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MessageData" type="tns:OfferMessageData" />
          <s:element minOccurs="0" maxOccurs="1" name="Packages" type="tns:ArrayOfOfferPackage" />
        </s:sequence>
        <s:attribute name="fbiOfferUID" type="s:string" />
        <s:attribute name="fbiOfferID" type="s:string" />
        <s:attribute name="discountType" type="s:string" />
        <s:attribute name="fastballDiscount" type="s:string" />
        <s:attribute name="fastballOrderDiscount" type="s:string" />
        <s:attribute name="productGroupCode" type="s:string" />
        <s:attribute name="TargetDate" type="s:string" />
        <s:attribute name="EndDate" type="s:string" />
        <s:attribute name="promoID" type="s:string" />
        <s:attribute name="productPackageCode" type="s:string" />
      </s:complexType>
      <s:complexType name="OfferMessageData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DataItems" type="tns:ArrayOfOfferMessageDataItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOfferMessageDataItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DataItem" nillable="true" type="tns:OfferMessageDataItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OfferMessageDataItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Attributes" type="tns:ArrayOfOfferMessageDataItemAttribute" />
        </s:sequence>
        <s:attribute name="ID" type="s:string" />
        <s:attribute name="type" type="s:string" />
      </s:complexType>
      <s:complexType name="ArrayOfOfferMessageDataItemAttribute">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Attribute" nillable="true" type="tns:OfferMessageDataItemAttribute" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OfferMessageDataItemAttribute">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Values" type="tns:ArrayOfString" />
        </s:sequence>
        <s:attribute name="key" type="s:string" />
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Value" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOfferPackage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Package" nillable="true" type="tns:OfferPackage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OfferPackage">
        <s:attribute name="pkgid" type="s:int" use="required" />
        <s:attribute name="pkgType" type="s:string" />
      </s:complexType>
      <s:element name="GetOffers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChannelRequestXml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CandidateRequestXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOffersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OfferResultXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOfferByOfferID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OfferID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOfferByOfferIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResultCode" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Offer" nillable="true" type="tns:Offer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductsByProductGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProductGroup" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductsByProductGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResultCode" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductList" type="tns:ArrayOfProduct" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProduct">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Product">
        <s:attribute name="UnifiedProductID" type="s:int" use="required" />
      </s:complexType>
      <s:element name="GetPromoData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Request" type="tns:PromoRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PromoRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PromoCodes" type="tns:ArrayOfPromoRequestItem" />
        </s:sequence>
        <s:attribute name="ShowInactivePromos" type="s:boolean" use="required" />
      </s:complexType>
      <s:complexType name="ArrayOfPromoRequestItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PromoCode" nillable="true" type="tns:PromoRequestItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PromoRequestItem">
        <s:attribute name="PromoID" type="s:string" />
      </s:complexType>
      <s:element name="GetPromoDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResultCode" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PromoList" type="tns:ArrayOfPromo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPromo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Promo" nillable="true" type="tns:Promo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Promo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Order" type="tns:PromoOrder" />
          <s:element minOccurs="0" maxOccurs="1" name="Product" type="tns:PromoProduct" />
          <s:element minOccurs="0" maxOccurs="1" name="ViralPromo" type="tns:ViralPromo" />
        </s:sequence>
        <s:attribute name="promoCode" type="s:string" />
        <s:attribute name="isValid" type="s:boolean" use="required" />
      </s:complexType>
      <s:complexType name="PromoOrder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Disclaimer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrivateLabelTypes" type="tns:ArrayOfPrivateLabelType" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderAwards" type="tns:ArrayOfPromoOrderAward" />
        </s:sequence>
        <s:attribute name="startDate" type="s:string" />
        <s:attribute name="endDate" type="s:string" />
        <s:attribute name="active" type="s:boolean" use="required" />
      </s:complexType>
      <s:complexType name="ArrayOfPrivateLabelType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PrivateLabelType" nillable="true" type="tns:PrivateLabelType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PrivateLabelType">
        <s:attribute name="privateLabelTypeID" type="s:int" use="required" />
      </s:complexType>
      <s:complexType name="ArrayOfPromoOrderAward">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderAward" nillable="true" type="tns:PromoOrderAward" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PromoOrderAward">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AwardCurrencies" type="tns:ArrayOfAwardCurrency" />
        </s:sequence>
        <s:attribute name="type" type="s:string" />
        <s:attribute name="minOrderAmount" type="s:string" />
      </s:complexType>
      <s:complexType name="ArrayOfAwardCurrency">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AwardCurrency" nillable="true" type="tns:AwardCurrency" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AwardCurrency">
        <s:attribute name="transactionalCurrency" type="s:string" />
        <s:attribute name="awardAmount" type="s:int" use="required" />
      </s:complexType>
      <s:complexType name="PromoProduct">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Disclaimer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrivateLabelTypes" type="tns:ArrayOfPrivateLabelType" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductAwards" type="tns:ArrayOfPromoProductAward" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductConditions" type="tns:ArrayOfPromoProductCondition" />
        </s:sequence>
        <s:attribute name="startDate" type="s:string" />
        <s:attribute name="endDate" type="s:string" />
        <s:attribute name="active" type="s:boolean" use="required" />
      </s:complexType>
      <s:complexType name="ArrayOfPromoProductAward">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProductAward" nillable="true" type="tns:PromoProductAward" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PromoProductAward">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AwardCurrencies" type="tns:ArrayOfAwardCurrency" />
        </s:sequence>
        <s:attribute name="type" type="s:string" />
        <s:attribute name="unifiedProductID" type="s:string" />
        <s:attribute name="awardField" type="s:string" />
        <s:attribute name="awardFieldValue" type="s:string" />
        <s:attribute name="productQtyLimit" type="s:int" use="required" />
      </s:complexType>
      <s:complexType name="ArrayOfPromoProductCondition">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProductCondition" nillable="true" type="tns:PromoProductCondition" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PromoProductCondition">
        <s:attribute name="unifiedProductID" type="s:string" />
        <s:attribute name="conditionField" type="s:string" />
        <s:attribute name="conditionValue" type="s:string" />
        <s:attribute name="productMinQty" type="s:int" use="required" />
        <s:attribute name="productExactQty" type="s:string" />
      </s:complexType>
      <s:complexType name="ViralPromo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ViralPromoAwards" type="tns:ArrayOfPromoViralAward" />
        </s:sequence>
        <s:attribute name="startDate" type="s:string" />
        <s:attribute name="endDate" type="s:string" />
        <s:attribute name="active" type="s:boolean" use="required" />
        <s:attribute name="group" type="s:string" />
      </s:complexType>
      <s:complexType name="ArrayOfPromoViralAward">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ViralPromoAward" nillable="true" type="tns:PromoViralAward" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PromoViralAward">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AwardCurrencies" type="tns:ArrayOfAwardCurrencyViral" />
        </s:sequence>
        <s:attribute name="type" type="s:string" />
        <s:attribute name="requiredYard" type="s:string" />
        <s:attribute name="useLimit" type="s:int" use="required" />
        <s:attribute name="amountMaxYears" type="s:int" use="required" />
        <s:attribute name="maximumQuantityAllowed" type="s:int" use="required" />
        <s:attribute name="maximumFallbackQuantityAllowed" type="s:int" use="required" />
      </s:complexType>
      <s:complexType name="ArrayOfAwardCurrencyViral">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AwardCurrency" nillable="true" type="tns:AwardCurrencyViral" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AwardCurrencyViral">
        <s:attribute name="transactionalCurrency" type="s:string" />
        <s:attribute name="awardAmount" type="s:int" use="required" />
        <s:attribute name="maxUnitDiscount" type="s:int" use="required" />
        <s:attribute name="maximumOrderDiscount" type="s:int" use="required" />
        <s:attribute name="fallbackAmount" type="s:int" use="required" />
      </s:complexType>
      <s:element name="GetPromoByProductAndCurrency">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Promo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TranactionalCurrency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPromoByProductAndCurrencyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Promo" nillable="true" type="tns:Promo" />
            <s:element minOccurs="1" maxOccurs="1" name="ResultCode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOffersAndMessageDataWithSubLocations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChannelRequestXml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CandidateRequestXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOffersAndMessageDataWithSubLocationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LocationResult" nillable="true" type="tns:LocationResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LocationResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ResultCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CandidateAttributeXml" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubLocations" type="tns:ArrayOfSubLocation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSubLocation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SubLocation" nillable="true" type="tns:SubLocation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SubLocation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SubLocationName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SelectedOffers" type="tns:ArrayOfOffer" />
        </s:sequence>
        <s:attribute name="SubLocationName" type="s:string" />
      </s:complexType>
      <s:element name="GetOfferDisplayData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OfferDisplayDataRequest" type="tns:OfferDisplayDataRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OfferDisplayDataRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OfferIDList" type="tns:ArrayOfString1" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductGroupIDList" type="tns:ArrayOfString2" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductPackageIDList" type="tns:ArrayOfString3" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString1">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OfferID" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProductGroupID" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString3">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProductPackageID" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetOfferDisplayDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OfferDisplayDataResult" type="tns:OfferDisplayDataResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OfferDisplayDataResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ResultCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Offers" type="tns:ArrayOfOffer" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductGroups" type="tns:ArrayOfProductGroup" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductPackages" type="tns:ProductPackages" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProductGroup">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProductGroup" nillable="true" type="s1:ProductGroup" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProductPackages">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CartProductPackages" type="tns:ArrayOfCartProdPackage" />
          <s:element minOccurs="0" maxOccurs="1" name="UpsellProductPackages" type="tns:ArrayOfUpsellProdPackage" />
          <s:element minOccurs="0" maxOccurs="1" name="AddonProductPackages" type="tns:ArrayOfAddOnProdPackage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCartProdPackage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CartProdPackage" nillable="true" type="s1:CartProdPackage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUpsellProdPackage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UpsellProdPackage" nillable="true" type="s1:UpsellProdPackage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAddOnProdPackage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AddOnProdPackage" nillable="true" type="s1:AddOnProdPackage" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="fastball.Product">
      <s:complexType name="ProductGroup">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Attribs" type="s1:ArrayOfProductGroupAttribute" />
          <s:element minOccurs="0" maxOccurs="1" name="Prods" type="s1:ArrayOfProductGroupProducts" />
        </s:sequence>
        <s:attribute name="prodGroupCode" type="s:string" />
        <s:attribute name="name" type="s:string" />
        <s:attribute name="groupType" type="s:string" />
      </s:complexType>
      <s:complexType name="ArrayOfProductGroupAttribute">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Attrib" nillable="true" type="s1:ProductGroupAttribute" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProductGroupAttribute">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AttribVals" type="s1:ArrayOfProductGroupAttribValue" />
        </s:sequence>
        <s:attribute name="name" type="s:string" />
      </s:complexType>
      <s:complexType name="ArrayOfProductGroupAttribValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AttribVal" nillable="true" type="s1:ProductGroupAttribValue" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProductGroupAttribValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Prods" type="s1:ArrayOfProductGroupAttributeProducts" />
        </s:sequence>
        <s:attribute name="id" type="s:string" />
        <s:attribute name="disporder" type="s:string" />
        <s:attribute name="default" type="s:string" />
        <s:attribute name="name" type="s:string" />
      </s:complexType>
      <s:complexType name="ArrayOfProductGroupAttributeProducts">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Prod" nillable="true" type="s1:ProductGroupAttributeProducts" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProductGroupAttributeProducts">
        <s:attribute name="pfid" type="s:string" />
        <s:attribute name="qty" type="s:string" />
        <s:attribute name="disporder" type="s:string" />
        <s:attribute name="default" type="s:string" />
      </s:complexType>
      <s:complexType name="ArrayOfProductGroupProducts">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Prod" nillable="true" type="s1:ProductGroupProducts" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProductGroupProducts">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Pkgs" type="s1:ArrayOfProductGroupPackage" />
        </s:sequence>
        <s:attribute name="pfid" type="s:string" />
        <s:attribute name="qty" type="s:string" />
      </s:complexType>
      <s:complexType name="ArrayOfProductGroupPackage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Pkg" nillable="true" type="s1:ProductGroupPackage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProductGroupPackage">
        <s:attribute name="pkgid" type="s:string" />
        <s:attribute name="pkgType" type="s:string" />
      </s:complexType>
      <s:complexType name="CartProdPackage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ParentProd" type="s1:CartParentProd" />
        </s:sequence>
        <s:attribute name="pkgid" type="s:string" />
      </s:complexType>
      <s:complexType name="CartParentProd">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ChildProds" type="s1:ArrayOfCartChildprod" />
        </s:sequence>
        <s:attribute name="pfid" type="s:string" />
        <s:attribute name="qty" type="s:string" />
        <s:attribute name="parentflag" type="s:string" />
        <s:attribute name="discountcode" type="s:string" />
        <s:attribute name="dispoverride" type="s:string" />
      </s:complexType>
      <s:complexType name="ArrayOfCartChildprod">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ChildProd" nillable="true" type="s1:CartChildprod" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CartChildprod">
        <s:attribute name="pfid" type="s:string" />
        <s:attribute name="qty" type="s:string" />
        <s:attribute name="childflag" type="s:string" />
        <s:attribute name="isfree" type="s:string" />
        <s:attribute name="discountcode" type="s:string" />
      </s:complexType>
      <s:complexType name="UpsellProdPackage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ParentProd" type="s1:UpsellParentProd" />
        </s:sequence>
        <s:attribute name="pkgid" type="s:string" />
      </s:complexType>
      <s:complexType name="UpsellParentProd">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ChildProds" type="s1:ArrayOfUpsellChildProd" />
        </s:sequence>
        <s:attribute name="pfid" type="s:string" />
        <s:attribute name="qty" type="s:string" />
      </s:complexType>
      <s:complexType name="ArrayOfUpsellChildProd">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ChildProd" nillable="true" type="s1:UpsellChildProd" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UpsellChildProd">
        <s:attribute name="pfid" type="s:string" />
        <s:attribute name="qty" type="s:string" />
      </s:complexType>
      <s:complexType name="AddOnProdPackage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ParentProd" type="s1:AddonParentProd" />
        </s:sequence>
        <s:attribute name="pkgid" type="s:string" />
      </s:complexType>
      <s:complexType name="AddonParentProd">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ChildProds" type="s1:ArrayOfAddonChildProd" />
        </s:sequence>
        <s:attribute name="pfid" type="s:string" />
        <s:attribute name="qty" type="s:string" />
        <s:attribute name="addonrequired" type="s:string" />
      </s:complexType>
      <s:complexType name="ArrayOfAddonChildProd">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ChildProd" nillable="true" type="s1:AddonChildProd" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AddonChildProd">
        <s:attribute name="pfid" type="s:string" />
        <s:attribute name="qty" type="s:string" />
        <s:attribute name="default" type="s:string" />
        <s:attribute name="disporder" type="s:string" />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetOffersAndMessageDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetOffersAndMessageData" />
  </wsdl:message>
  <wsdl:message name="GetOffersAndMessageDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetOffersAndMessageDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetOffersSoapIn">
    <wsdl:part name="parameters" element="tns:GetOffers" />
  </wsdl:message>
  <wsdl:message name="GetOffersSoapOut">
    <wsdl:part name="parameters" element="tns:GetOffersResponse" />
  </wsdl:message>
  <wsdl:message name="GetOfferByOfferIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetOfferByOfferID" />
  </wsdl:message>
  <wsdl:message name="GetOfferByOfferIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetOfferByOfferIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductsByProductGroupSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductsByProductGroup" />
  </wsdl:message>
  <wsdl:message name="GetProductsByProductGroupSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductsByProductGroupResponse" />
  </wsdl:message>
  <wsdl:message name="GetPromoDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetPromoData" />
  </wsdl:message>
  <wsdl:message name="GetPromoDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetPromoDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetPromoByProductAndCurrencySoapIn">
    <wsdl:part name="parameters" element="tns:GetPromoByProductAndCurrency" />
  </wsdl:message>
  <wsdl:message name="GetPromoByProductAndCurrencySoapOut">
    <wsdl:part name="parameters" element="tns:GetPromoByProductAndCurrencyResponse" />
  </wsdl:message>
  <wsdl:message name="GetOffersAndMessageDataWithSubLocationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetOffersAndMessageDataWithSubLocations" />
  </wsdl:message>
  <wsdl:message name="GetOffersAndMessageDataWithSubLocationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetOffersAndMessageDataWithSubLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetOfferDisplayDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetOfferDisplayData" />
  </wsdl:message>
  <wsdl:message name="GetOfferDisplayDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetOfferDisplayDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetOffersAndMessageData">
      <wsdl:input message="tns:GetOffersAndMessageDataSoapIn" />
      <wsdl:output message="tns:GetOffersAndMessageDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOffers">
      <wsdl:input message="tns:GetOffersSoapIn" />
      <wsdl:output message="tns:GetOffersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOfferByOfferID">
      <wsdl:input message="tns:GetOfferByOfferIDSoapIn" />
      <wsdl:output message="tns:GetOfferByOfferIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsByProductGroup">
      <wsdl:input message="tns:GetProductsByProductGroupSoapIn" />
      <wsdl:output message="tns:GetProductsByProductGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPromoData">
      <wsdl:input message="tns:GetPromoDataSoapIn" />
      <wsdl:output message="tns:GetPromoDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPromoByProductAndCurrency">
      <wsdl:input message="tns:GetPromoByProductAndCurrencySoapIn" />
      <wsdl:output message="tns:GetPromoByProductAndCurrencySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOffersAndMessageDataWithSubLocations">
      <wsdl:input message="tns:GetOffersAndMessageDataWithSubLocationsSoapIn" />
      <wsdl:output message="tns:GetOffersAndMessageDataWithSubLocationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOfferDisplayData">
      <wsdl:input message="tns:GetOfferDisplayDataSoapIn" />
      <wsdl:output message="tns:GetOfferDisplayDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOffersAndMessageData">
      <soap:operation soapAction="#fastball.offersapi/GetOffersAndMessageData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOffers">
      <soap:operation soapAction="#fastball.offersapi/GetOffers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOfferByOfferID">
      <soap:operation soapAction="#fastball.offersapi/GetOfferByOfferID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsByProductGroup">
      <soap:operation soapAction="#fastball.offersapi/GetProductsByProductGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPromoData">
      <soap:operation soapAction="#fastball.offersapi/GetPromoData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPromoByProductAndCurrency">
      <soap:operation soapAction="#fastball.offersapi/GetPromoByProductAndCurrency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOffersAndMessageDataWithSubLocations">
      <soap:operation soapAction="#fastball.offersapi/GetOffersAndMessageDataWithSubLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOfferDisplayData">
      <soap:operation soapAction="#fastball.offersapi/GetOfferDisplayData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOffersAndMessageData">
      <soap12:operation soapAction="#fastball.offersapi/GetOffersAndMessageData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOffers">
      <soap12:operation soapAction="#fastball.offersapi/GetOffers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOfferByOfferID">
      <soap12:operation soapAction="#fastball.offersapi/GetOfferByOfferID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsByProductGroup">
      <soap12:operation soapAction="#fastball.offersapi/GetProductsByProductGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPromoData">
      <soap12:operation soapAction="#fastball.offersapi/GetPromoData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPromoByProductAndCurrency">
      <soap12:operation soapAction="#fastball.offersapi/GetPromoByProductAndCurrency" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOffersAndMessageDataWithSubLocations">
      <soap12:operation soapAction="#fastball.offersapi/GetOffersAndMessageDataWithSubLocations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOfferDisplayData">
      <soap12:operation soapAction="#fastball.offersapi/GetOfferDisplayData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://fastball.dev.glbt1.gdg/offersapi/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://fastball.dev.glbt1.gdg/offersapi/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>