Atlantis.Framework.PromoToolGetProductPromo/Atlantis.Framework.PromoToolGetProdPromo.Impl/Service References/Svc/PromoTool4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PromoTool.Data.Services.ServiceModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PromoTool.Data.Services.ServiceModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPriceValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PriceValue" nillable="true" type="tns:PriceValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPriceValue" nillable="true" type="tns:ArrayOfPriceValue" />
  <xs:complexType name="PriceValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="FieldValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PriceValue" nillable="true" type="tns:PriceValue" />
</xs:schema>