Atlantis.Framework.OrderShippingXml/Atlantis.Framework.OrderShippingXml.Impl/Web References/OrderSvc/order.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import />
      <s:element name="GetOrderShippingInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="orderID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderShippingInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="GetOrderShippingInfoResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetOrderFraudStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orderID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isApproved" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetOrderFraudStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetOrderFraudStatusResult" type="tns:ResponseStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseStatus">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:StatusCode" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StackTrace" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="StatusCode">
        <s:restriction base="s:string">
          <s:enumeration value="Failure" />
          <s:enumeration value="Success" />
          <s:enumeration value="Maintenance" />
          <s:enumeration value="Timeout" />
        </s:restriction>
      </s:simpleType>
      <s:element name="getServiceStatus">
        <s:complexType />
      </s:element>
      <s:element name="getServiceStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getServiceStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified">
      <s:element name="GetOrderShippingInfoResult" type="MarketplaceOrder" />
      <s:complexType name="MarketplaceOrder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Items" type="ArrayOfShippingItem" />
        </s:sequence>
        <s:attribute name="OrderID" type="s:int" use="required" />
      </s:complexType>
      <s:complexType name="ArrayOfShippingItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ShippingItem" nillable="true" type="ShippingItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ShippingItem">
        <s:attribute name="RowID" type="s:int" use="required" />
        <s:attribute name="Carrier" type="s:string" />
        <s:attribute name="TrackingCode" type="s:string" />
        <s:attribute name="EstDate" type="s:string" />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetOrderShippingInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrderShippingInfo" />
  </wsdl:message>
  <wsdl:message name="GetOrderShippingInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrderShippingInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SetOrderFraudStatusSoapIn">
    <wsdl:part name="parameters" element="tns:SetOrderFraudStatus" />
  </wsdl:message>
  <wsdl:message name="SetOrderFraudStatusSoapOut">
    <wsdl:part name="parameters" element="tns:SetOrderFraudStatusResponse" />
  </wsdl:message>
  <wsdl:message name="getServiceStatusSoapIn">
    <wsdl:part name="parameters" element="tns:getServiceStatus" />
  </wsdl:message>
  <wsdl:message name="getServiceStatusSoapOut">
    <wsdl:part name="parameters" element="tns:getServiceStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="OrderSoap">
    <wsdl:operation name="GetOrderShippingInfo">
      <wsdl:input message="tns:GetOrderShippingInfoSoapIn" />
      <wsdl:output message="tns:GetOrderShippingInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetOrderFraudStatus">
      <wsdl:input message="tns:SetOrderFraudStatusSoapIn" />
      <wsdl:output message="tns:SetOrderFraudStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getServiceStatus">
      <wsdl:input message="tns:getServiceStatusSoapIn" />
      <wsdl:output message="tns:getServiceStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderSoap" type="tns:OrderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrderShippingInfo">
      <soap:operation soapAction="http://tempuri.org/GetOrderShippingInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOrderFraudStatus">
      <soap:operation soapAction="http://tempuri.org/SetOrderFraudStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServiceStatus">
      <soap:operation soapAction="http://tempuri.org/getServiceStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OrderSoap12" type="tns:OrderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrderShippingInfo">
      <soap12:operation soapAction="http://tempuri.org/GetOrderShippingInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOrderFraudStatus">
      <soap12:operation soapAction="http://tempuri.org/SetOrderFraudStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServiceStatus">
      <soap12:operation soapAction="http://tempuri.org/getServiceStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Order">
    <wsdl:port name="OrderSoap" binding="tns:OrderSoap">
      <soap:address location="http://g1twbazaarweb01:9003/order.asmx" />
    </wsdl:port>
    <wsdl:port name="OrderSoap12" binding="tns:OrderSoap12">
      <soap12:address location="http://g1twbazaarweb01:9003/order.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>