Triplets/Shopper/Atlantis.Framework.Shopper.Tests/Resources/ShopperSearch.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Chip Maxson (Go Daddy Software Inc.) -->
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="ShopperSearch">
		<xs:complexType>
			<xs:all>
				<xs:element name="SearchFields" type="SearchFieldsType"/>
				<xs:element name="ReturnFields" type="ReturnFieldsType"/>
			</xs:all>
			<xs:attributeGroup ref="RequestorData"/>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="RequestorData">
		<xs:attribute name="IPAddress" type="xs:string" use="required"/>
		<xs:attribute name="RequestedBy" type="xs:string" use="required"/>
	</xs:attributeGroup>
	<xs:complexType name="SearchFieldsType">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="Field" type="SearchFieldType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="SearchFieldType" mixed="true">
		<xs:attribute name="Name" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="city"/>
					<xs:enumeration value="company"/>
					<xs:enumeration value="domain"/>
					<xs:enumeration value="email"/>
					<xs:enumeration value="first_name"/>
					<xs:enumeration value="last_name"/>
					<xs:enumeration value="loginName"/>
					<xs:enumeration value="middle_name"/>
					<xs:enumeration value="mobilePhone"/>
					<xs:enumeration value="order_id"/>
					<xs:enumeration value="parent_shopper_id"/>
					<xs:enumeration value="phone"/>
					<xs:enumeration value="phone1"/>
					<xs:enumeration value="phone2"/>
					<xs:enumeration value="privateLabelID"/>
					<xs:enumeration value="shopper_id"/>
					<xs:enumeration value="state"/>
					<xs:enumeration value="street1"/>
					<xs:enumeration value="street2"/>
					<xs:enumeration value="zip"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ReturnFieldsType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Field" type="ReturnFieldType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ReturnFieldType">
		<xs:attribute name="Name" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="birthDay"/>
					<xs:enumeration value="birthMonth"/>
					<xs:enumeration value="birthYear"/>
					<xs:enumeration value="city"/>
					<xs:enumeration value="company"/>
					<xs:enumeration value="country"/>
					<xs:enumeration value="date_created"/>
					<xs:enumeration value="dbp_emailFilterPreferenceID"/>
					<xs:enumeration value="dbp_shopperStatusID"/>
					<xs:enumeration value="doNotCallFlag"/>
					<xs:enumeration value="doNotEmailFlag"/>
					<xs:enumeration value="email"/>
					<xs:enumeration value="fax"/>
					<xs:enumeration value="first_name"/>
					<xs:enumeration value="fortKnox_shopperMobileAccountTypeID"/>
					<xs:enumeration value="fortKnox_shopperMobileCarrierID"/>
					<xs:enumeration value="fraud"/>
					<xs:enumeration value="gdshop_shopper_payment_type_id"/>
					<xs:enumeration value="fortKnox_paymentGroupID"/>
					<xs:enumeration value="gdshop_userTypeID"/>
					<xs:enumeration value="gender"/>
					<xs:enumeration value="hasRenewingServices"/>
					<xs:enumeration value="isCompany"/>
					<xs:enumeration value="isLocked"/>
					<xs:enumeration value="isPwdLocked"/>
					<xs:enumeration value="isStrongPassword"/>
					<xs:enumeration value="isUnified"/>
					<xs:enumeration value="last_changed_by"/>
					<xs:enumeration value="last_changed_date"/>
					<xs:enumeration value="last_name"/>
					<xs:enumeration value="loginName"/>
					<xs:enumeration value="lu_emailTypeID"/>
					<xs:enumeration value="middle_name"/>
					<xs:enumeration value="mktg_email"/>
					<xs:enumeration value="mktg_mail"/>
					<xs:enumeration value="mktg_nonpromotional_notices"/>
					<xs:enumeration value="mktg_partner"/>
					<xs:enumeration value="mobilePhone"/>
					<xs:enumeration value="mobilePushNotification"/>
					<xs:enumeration value="parent_shopper_id"/>
					<xs:enumeration value="passwordReminder"/>
					<xs:enumeration value="payment"/>
					<xs:enumeration value="paymentProfilePurgeStatus"/>
					<xs:enumeration value="phone1"/>
					<xs:enumeration value="phone1Extension"/>
					<xs:enumeration value="phone2"/>
					<xs:enumeration value="privateLabelID"/>
					<xs:enumeration value="privatelabelid"/>
					<xs:enumeration value="shipping_method"/>
					<xs:enumeration value="shopper_group_id"/>
					<xs:enumeration value="shopper_id"/>
					<xs:enumeration value="shopperPIN"/>
					<xs:enumeration value="state"/>
					<xs:enumeration value="status"/>
					<xs:enumeration value="street1"/>
					<xs:enumeration value="street2"/>
					<xs:enumeration value="time_created"/>
					<xs:enumeration value="zip"/>
					<xs:enumeration value="Currency"/>
					<xs:enumeration value="MarketID"/>
					<xs:enumeration value="CountrySiteID"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
