Triplets/Shopper/Atlantis.Framework.Shopper.Tests/Resources/ShopperUpdate.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2011 (x64) (http://www.altova.com) by GoDaddy.com, Inc. (GoDaddy.com, Inc.) -->
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="ShopperUpdate">
		<xs:complexType>
			<xs:all>
				<xs:element name="Fields" type="FieldsType" minOccurs="0"/>
				<xs:element name="Preferences" type="PreferencesType" minOccurs="0"/>
			</xs:all>
			<xs:attributeGroup ref="RequestorData"/>
			<xs:attribute name="ID" type="xs:string" use="required"/>
			<xs:attribute name="doNotSendPwdLockedEmail" use="optional">
				<xs:annotation>
					<xs:documentation>Default is (0) to send email when a shopper is password locked.  1 means do not send - not a normal case</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="RequestorData">
		<xs:attribute name="IPAddress" type="xs:string" use="required"/>
		<xs:attribute name="RequestedBy" type="xs:string" use="required"/>
	</xs:attributeGroup>
	<xs:complexType name="FieldsType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Field" type="FieldType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="FieldType" mixed="true">
		<xs:attribute name="Name" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="birthDay"/>
					<xs:enumeration value="birthMonth"/>
					<xs:enumeration value="birthYear"/>
					<xs:enumeration value="city"/>
					<xs:enumeration value="company"/>
					<xs:enumeration value="country"/>
					<xs:enumeration value="dbp_emailFilterPreferenceID"/>
					<xs:enumeration value="dbp_shopperStatusID"/>
					<xs:enumeration value="doNotCallFlag"/>
					<xs:enumeration value="doNotEmailFlag"/>
					<xs:enumeration value="email"/>
					<xs:enumeration value="fax"/>
					<xs:enumeration value="first_name"/>
					<xs:enumeration value="fortKnox_shopperMobileAccountTypeID"/>
					<xs:enumeration value="fortKnox_shopperMobileCarrierID"/>
					<xs:enumeration value="fraud"/>
					<xs:enumeration value="gdshop_shopper_payment_type_id"/>
					<xs:enumeration value="fortKnox_paymentGroupID"/>
					<xs:enumeration value="gdshop_userTypeID"/>
					<xs:enumeration value="gender"/>
					<xs:enumeration value="hasRenewingServices"/>
					<xs:enumeration value="isLocked"/>
					<xs:enumeration value="isPostalAddressInvalid"/>
					<xs:enumeration value="isPwdLocked"/>
					<xs:enumeration value="isUnified"/>
					<xs:enumeration value="last_changed_by"/>
					<xs:enumeration value="last_name"/>
					<xs:enumeration value="loginName"/>
					<xs:enumeration value="lu_emailTypeID"/>
					<xs:enumeration value="middle_name"/>
					<xs:enumeration value="mktg_email"/>
					<xs:enumeration value="mktg_mail"/>
					<xs:enumeration value="mktg_nonpromotional_notices"/>
					<xs:enumeration value="mktg_partner"/>
					<xs:enumeration value="mobilePhone"/>
					<xs:enumeration value="mobilePushNotification"/>
					<xs:enumeration value="parent_shopper_id"/>
					<xs:enumeration value="passwordReminder"/>
					<xs:enumeration value="paymentProfilePurgeStatus"/>
					<xs:enumeration value="phone1"/>
					<xs:enumeration value="phone1Extension"/>
					<xs:enumeration value="phone2"/>
					<xs:enumeration value="prepaidServiceWarnedFlag"/>
					<xs:enumeration value="prepaidServiceWarningLevel"/>
					<xs:enumeration value="sendRecurringPPSWarnings"/>
					<xs:enumeration value="shopperPIN"/>
					<xs:enumeration value="shopper_group_id"/>
					<xs:enumeration value="state"/>
					<xs:enumeration value="status"/>
					<xs:enumeration value="street1"/>
					<xs:enumeration value="street2"/>
					<xs:enumeration value="xPassword"/>
					<xs:enumeration value="zip"/>
					<xs:enumeration value="fortKnox_supplementalAuthenticationTypeID"/>
					<xs:enumeration value="Currency"/>
					<xs:enumeration value="MarketID"/>
					<xs:enumeration value="CountrySiteID"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PreferencesType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Communication" type="CommunicationType"/>
			<xs:element name="Interest" type="InterestType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CommunicationType">
		<xs:attribute name="CommTypeID" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:int">
					<xs:enumeration value="2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="OptIn" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:int">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="InterestType">
		<xs:attribute name="CommTypeID" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:int">
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="InterestTypeID" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:int">
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="OptIn" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:int">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
