Triplets/Shopper/Atlantis.Framework.Shopper.Tests/Resources/ShopperCreate.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Go Daddy Emlployee (Go Daddy Software Inc.) -->
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="ShopperCreate">
		<xs:complexType>
			<xs:attributeGroup ref="RequestorData"/>
			<xs:attribute name="PLID" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ID" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="RequestorData">
		<xs:attribute name="IPAddress" type="xs:string" use="required"/>
		<xs:attribute name="RequestedBy" type="xs:string" use="required"/>
	</xs:attributeGroup>
</xs:schema>
