Atlantis.Framework.RCCGetPLCategoryData/Atlantis.Framework.RCCGetPLCategoryData.Impl/Web References/gdMasterAPI/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://masterapi.godaddy.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://masterapi.godaddy.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://masterapi.godaddy.com/">
      <s:element name="GetPLDataByCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iPLID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iCategory" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPLDataByCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPLDataByCategoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePLData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iPLID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iCategory" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePLDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdatePLDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPLDataByCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetPLDataByCategory" />
  </wsdl:message>
  <wsdl:message name="GetPLDataByCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetPLDataByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePLDataSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePLData" />
  </wsdl:message>
  <wsdl:message name="UpdatePLDataSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePLDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetPLDataByCategory">
      <wsdl:input message="tns:GetPLDataByCategorySoapIn" />
      <wsdl:output message="tns:GetPLDataByCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePLData">
      <wsdl:input message="tns:UpdatePLDataSoapIn" />
      <wsdl:output message="tns:UpdatePLDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPLDataByCategory">
      <soap:operation soapAction="http://masterapi.godaddy.com/GetPLDataByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePLData">
      <soap:operation soapAction="http://masterapi.godaddy.com/UpdatePLData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPLDataByCategory">
      <soap12:operation soapAction="http://masterapi.godaddy.com/GetPLDataByCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePLData">
      <soap12:operation soapAction="http://masterapi.godaddy.com/UpdatePLData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="https://gdmasterapi.dev.glbt1.gdg/WSgdPLDataAPI/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="https://gdmasterapi.dev.glbt1.gdg/WSgdPLDataAPI/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>