Atlantis.Framework.GrouponRedeemCoupon/Atlantis.Framework.GrouponRedeemCoupon.Impl/Web References/InStoreCreditCouponService/coupons.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Redeem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sShopperID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCouponCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RedeemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RedeemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RedeemSoapIn">
    <wsdl:part name="parameters" element="tns:Redeem" />
  </wsdl:message>
  <wsdl:message name="RedeemSoapOut">
    <wsdl:part name="parameters" element="tns:RedeemResponse" />
  </wsdl:message>
  <wsdl:portType name="CouponsSoap">
    <wsdl:operation name="Redeem">
      <wsdl:input message="tns:RedeemSoapIn" />
      <wsdl:output message="tns:RedeemSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CouponsSoap" type="tns:CouponsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Redeem">
      <soap:operation soapAction="http://tempuri.org/Redeem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CouponsSoap12" type="tns:CouponsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Redeem">
      <soap12:operation soapAction="http://tempuri.org/Redeem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Coupons">
    <wsdl:port name="CouponsSoap" binding="tns:CouponsSoap">
      <soap:address location="https://ecommrestricted.dev.glbt1.gdg/WSgdInStoreCreditCoupons/coupons.asmx" />
    </wsdl:port>
    <wsdl:port name="CouponsSoap12" binding="tns:CouponsSoap12">
      <soap12:address location="https://ecommrestricted.dev.glbt1.gdg/WSgdInStoreCreditCoupons/coupons.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>