Atlantis.Framework.OFFUsageByUsername/Atlantis.Framework.OFFUsageByUsername.Impl/Web References/OFFService/OFFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="OFFSoapNS" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="OFFSoapNS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="OFFSoapNS">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="StringArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="QuotaInfo">
        <xsd:all>
          <xsd:element name="quota_bytes" type="xsd:string" />
          <xsd:element name="used_bytes" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="File">
        <xsd:all>
          <xsd:element name="file_num" type="xsd:int" />
          <xsd:element name="folder_num" type="xsd:int" />
          <xsd:element name="file_name" type="xsd:string" />
          <xsd:element name="file_size" type="xsd:string" />
          <xsd:element name="modified" type="xsd:string" />
          <xsd:element name="flags" type="xsd:int" />
          <xsd:element name="hash" type="xsd:string" />
          <xsd:element name="share_id" type="xsd:string" />
          <xsd:element name="file_size_true" type="xsd:int" />
          <xsd:element name="url" type="xsd:string" />
          <xsd:element name="expiration" type="xsd:string" />
          <xsd:element name="remaining_downloads" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="AccessedFile">
        <xsd:all>
          <xsd:element name="file_num" type="xsd:int" />
          <xsd:element name="folder_num" type="xsd:int" />
          <xsd:element name="file_name" type="xsd:string" />
          <xsd:element name="file_size" type="xsd:string" />
          <xsd:element name="modified" type="xsd:string" />
          <xsd:element name="flags" type="xsd:int" />
          <xsd:element name="access_count" type="xsd:int" />
          <xsd:element name="access_time" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="AccessedFileArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:AccessedFile[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getUserNumByEmailRequest">
    <wsdl:part name="email" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getUserNumByEmailResponse">
    <wsdl:part name="user_num" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getUserNumByUserIDRequest">
    <wsdl:part name="user_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getUserNumByUserIDResponse">
    <wsdl:part name="user_num" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getUserNumWithCredentialsRequest">
    <wsdl:part name="user_id" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getUserNumWithCredentialsResponse">
    <wsdl:part name="user_num" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getFileRequest">
    <wsdl:part name="user_num" type="xsd:int" />
    <wsdl:part name="file_num" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getFileResponse">
    <wsdl:part name="fileInfo" type="tns:File" />
  </wsdl:message>
  <wsdl:message name="getBackdoorRequest">
    <wsdl:part name="user_num" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getBackdoorResponse">
    <wsdl:part name="url" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getSharedFileInfoRequest">
    <wsdl:part name="user_num" type="xsd:int" />
    <wsdl:part name="file_num" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getSharedFileInfoResponse">
    <wsdl:part name="info" type="tns:File" />
  </wsdl:message>
  <wsdl:message name="getSaveToOFFURLRequest">
    <wsdl:part name="user_num" type="xsd:int" />
    <wsdl:part name="path" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getSaveToOFFURLResponse">
    <wsdl:part name="url" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getSaveToOFFURLPodRequest">
    <wsdl:part name="user_num" type="xsd:int" />
    <wsdl:part name="urls" type="tns:StringArray" />
  </wsdl:message>
  <wsdl:message name="getSaveToOFFURLPodResponse">
    <wsdl:part name="url" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getAssociatedEmailRequest">
    <wsdl:part name="user_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getAssociatedEmailResponse">
    <wsdl:part name="email" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="setAssociatedEmailRequest">
    <wsdl:part name="user_id" type="xsd:string" />
    <wsdl:part name="email" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="setAssociatedEmailResponse">
    <wsdl:part name="successful" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="removeAssociatedEmailRequest">
    <wsdl:part name="email" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="removeAssociatedEmailResponse">
    <wsdl:part name="successful" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="getSpaceUsedPercentageRequest">
    <wsdl:part name="user_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getSpaceUsedPercentageResponse">
    <wsdl:part name="space_used" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getQuotaInfoRequest">
    <wsdl:part name="user_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getQuotaInfoResponse">
    <wsdl:part name="quota_info" type="tns:QuotaInfo" />
  </wsdl:message>
  <wsdl:message name="getQuotaInfoByUserNumRequest">
    <wsdl:part name="user_num" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getQuotaInfoByUserNumResponse">
    <wsdl:part name="quota_info" type="tns:QuotaInfo" />
  </wsdl:message>
  <wsdl:message name="setVersionPreferenceRequest">
    <wsdl:part name="user_num" type="xsd:int" />
    <wsdl:part name="use_new_version" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="setVersionPreferenceResponse">
    <wsdl:part name="successful" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="getAppVersionRequest" />
  <wsdl:message name="getAppVersionResponse">
    <wsdl:part name="version" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getScriptVersionRequest" />
  <wsdl:message name="getScriptVersionResponse">
    <wsdl:part name="version" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getMostRecentlyAccessedFilesRequest">
    <wsdl:part name="user_num" type="xsd:int" />
    <wsdl:part name="limit" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getMostRecentlyAccessedFilesResponse">
    <wsdl:part name="files" type="tns:AccessedFileArray" />
  </wsdl:message>
  <wsdl:message name="getMostCommonlyAccessedFilesRequest">
    <wsdl:part name="user_num" type="xsd:int" />
    <wsdl:part name="limit" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getMostCommonlyAccessedFilesResponse">
    <wsdl:part name="files" type="tns:AccessedFileArray" />
  </wsdl:message>
  <wsdl:portType name="OFFSoapPortType">
    <wsdl:operation name="getUserNumByEmail">
      <wsdl:input message="tns:getUserNumByEmailRequest" />
      <wsdl:output message="tns:getUserNumByEmailResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUserNumByUserID">
      <wsdl:input message="tns:getUserNumByUserIDRequest" />
      <wsdl:output message="tns:getUserNumByUserIDResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUserNumWithCredentials">
      <wsdl:input message="tns:getUserNumWithCredentialsRequest" />
      <wsdl:output message="tns:getUserNumWithCredentialsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getFile">
      <wsdl:input message="tns:getFileRequest" />
      <wsdl:output message="tns:getFileResponse" />
    </wsdl:operation>
    <wsdl:operation name="getBackdoor">
      <wsdl:input message="tns:getBackdoorRequest" />
      <wsdl:output message="tns:getBackdoorResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSharedFileInfo">
      <wsdl:input message="tns:getSharedFileInfoRequest" />
      <wsdl:output message="tns:getSharedFileInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSaveToOFFURL">
      <wsdl:input message="tns:getSaveToOFFURLRequest" />
      <wsdl:output message="tns:getSaveToOFFURLResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSaveToOFFURLPod">
      <wsdl:input message="tns:getSaveToOFFURLPodRequest" />
      <wsdl:output message="tns:getSaveToOFFURLPodResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAssociatedEmail">
      <wsdl:input message="tns:getAssociatedEmailRequest" />
      <wsdl:output message="tns:getAssociatedEmailResponse" />
    </wsdl:operation>
    <wsdl:operation name="setAssociatedEmail">
      <wsdl:input message="tns:setAssociatedEmailRequest" />
      <wsdl:output message="tns:setAssociatedEmailResponse" />
    </wsdl:operation>
    <wsdl:operation name="removeAssociatedEmail">
      <wsdl:input message="tns:removeAssociatedEmailRequest" />
      <wsdl:output message="tns:removeAssociatedEmailResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSpaceUsedPercentage">
      <wsdl:input message="tns:getSpaceUsedPercentageRequest" />
      <wsdl:output message="tns:getSpaceUsedPercentageResponse" />
    </wsdl:operation>
    <wsdl:operation name="getQuotaInfo">
      <wsdl:input message="tns:getQuotaInfoRequest" />
      <wsdl:output message="tns:getQuotaInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getQuotaInfoByUserNum">
      <wsdl:input message="tns:getQuotaInfoByUserNumRequest" />
      <wsdl:output message="tns:getQuotaInfoByUserNumResponse" />
    </wsdl:operation>
    <wsdl:operation name="setVersionPreference">
      <wsdl:input message="tns:setVersionPreferenceRequest" />
      <wsdl:output message="tns:setVersionPreferenceResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAppVersion">
      <wsdl:input message="tns:getAppVersionRequest" />
      <wsdl:output message="tns:getAppVersionResponse" />
    </wsdl:operation>
    <wsdl:operation name="getScriptVersion">
      <wsdl:input message="tns:getScriptVersionRequest" />
      <wsdl:output message="tns:getScriptVersionResponse" />
    </wsdl:operation>
    <wsdl:operation name="getMostRecentlyAccessedFiles">
      <wsdl:input message="tns:getMostRecentlyAccessedFilesRequest" />
      <wsdl:output message="tns:getMostRecentlyAccessedFilesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getMostCommonlyAccessedFiles">
      <wsdl:input message="tns:getMostCommonlyAccessedFilesRequest" />
      <wsdl:output message="tns:getMostCommonlyAccessedFilesResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OFFSoapBinding" type="tns:OFFSoapPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getUserNumByEmail">
      <soap:operation soapAction="http://dev.stgoff.com/soap/private/OFFService.php/getUserNumByEmail" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserNumByUserID">
      <soap:operation soapAction="http://dev.stgoff.com/soap/private/OFFService.php/getUserNumByUserID" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserNumWithCredentials">
      <soap:operation soapAction="http://dev.stgoff.com/soap/private/OFFService.php/getUserNumWithCredentials" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFile">
      <soap:operation soapAction="http://dev.stgoff.com/soap/private/OFFService.php/getFile" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBackdoor">
      <soap:operation soapAction="http://dev.stgoff.com/soap/private/OFFService.php/getBackdoor" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSharedFileInfo">
      <soap:operation soapAction="http://dev.stgoff.com/soap/private/OFFService.php/getSharedFileInfo" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSaveToOFFURL">
      <soap:operation soapAction="http://dev.stgoff.com/soap/private/OFFService.php/getSaveToOFFURL" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSaveToOFFURLPod">
      <soap:operation soapAction="http://dev.stgoff.com/soap/private/OFFService.php/getSaveToOFFURLPod" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAssociatedEmail">
      <soap:operation soapAction="http://dev.stgoff.com/soap/private/OFFService.php/getAssociatedEmail" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setAssociatedEmail">
      <soap:operation soapAction="http://dev.stgoff.com/soap/private/OFFService.php/setAssociatedEmail" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeAssociatedEmail">
      <soap:operation soapAction="http://dev.stgoff.com/soap/private/OFFService.php/removeAssociatedEmail" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSpaceUsedPercentage">
      <soap:operation soapAction="http://dev.stgoff.com/soap/private/OFFService.php/getSpaceUsedPercentage" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQuotaInfo">
      <soap:operation soapAction="http://dev.stgoff.com/soap/private/OFFService.php/getQuotaInfo" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQuotaInfoByUserNum">
      <soap:operation soapAction="http://dev.stgoff.com/soap/private/OFFService.php/getQuotaInfoByUserNum" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setVersionPreference">
      <soap:operation soapAction="http://dev.stgoff.com/soap/private/OFFService.php/setVersionPreference" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAppVersion">
      <soap:operation soapAction="http://dev.stgoff.com/soap/private/OFFService.php/getAppVersion" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScriptVersion">
      <soap:operation soapAction="http://dev.stgoff.com/soap/private/OFFService.php/getScriptVersion" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMostRecentlyAccessedFiles">
      <soap:operation soapAction="http://dev.stgoff.com/soap/private/OFFService.php/getMostRecentlyAccessedFiles" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMostCommonlyAccessedFiles">
      <soap:operation soapAction="http://dev.stgoff.com/soap/private/OFFService.php/getMostCommonlyAccessedFiles" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="OFFSoapNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OFFSoap">
    <wsdl:port name="OFFSoapPort" binding="tns:OFFSoapBinding">
      <soap:address location="http://dev.stgoff.com/soap/private/OFFService.php?version=1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>