Atlantis.Framework.PromoToolGetViralPromo/Atlantis.Framework.PromoToolGetViralPromo.Impl/Service References/Svc/PromoTool2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PromoTool.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PromoTool.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://siteadmin.dev.intranet.gdg/PromoTool/PromoTool.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://siteadmin.dev.intranet.gdg/PromoTool/PromoTool.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://siteadmin.dev.intranet.gdg/PromoTool/PromoTool.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Fastball.Commons.GDDataCacheFacade" />
  <xs:complexType name="OrderPromoV2">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:int" />
      <xs:element minOccurs="0" name="ActiveDisplay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampaignTypeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CartDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Currencies" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpirationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FastballDisplay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsFastball" type="xs:int" />
      <xs:element minOccurs="0" name="IsFastballPromo" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrderConditionAwards" nillable="true" type="tns:ArrayOfOrderConditionAward" />
      <xs:element minOccurs="0" name="PaymentExclusions" nillable="true" type="tns:ArrayOfPaymentTypeExclusion" />
      <xs:element minOccurs="0" name="PrivateLabels" nillable="true" type="tns:ArrayOfPrivateLabelV2" />
      <xs:element minOccurs="0" name="PromoCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromoType" type="xs:int" />
      <xs:element minOccurs="0" name="ResellerTypes" nillable="true" type="tns:ArrayOfResellerType" />
      <xs:element minOccurs="0" name="Restriction" type="tns:OrderPromoV2.RestrictedOneUseOnly" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UseLimit" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderPromoV2" nillable="true" type="tns:OrderPromoV2" />
  <xs:complexType name="ArrayOfOrderConditionAward">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderConditionAward" nillable="true" type="tns:OrderConditionAward" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderConditionAward" nillable="true" type="tns:ArrayOfOrderConditionAward" />
  <xs:complexType name="OrderConditionAward">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="AwardAmount" type="xs:double" />
          <xs:element minOccurs="0" name="AwardType" type="xs:int" />
          <xs:element minOccurs="0" name="CurrencyType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MinimumCartAmount" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderConditionAward" nillable="true" type="tns:OrderConditionAward" />
  <xs:complexType name="BaseEntity">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseEntity" nillable="true" type="tns:BaseEntity" />
  <xs:complexType name="ArrayOfPaymentTypeExclusion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaymentTypeExclusion" nillable="true" type="tns:PaymentTypeExclusion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaymentTypeExclusion" nillable="true" type="tns:ArrayOfPaymentTypeExclusion" />
  <xs:complexType name="PaymentTypeExclusion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="PaymentExclusionName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PaymentTypeExclusionId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaymentTypeExclusion" nillable="true" type="tns:PaymentTypeExclusion" />
  <xs:complexType name="ArrayOfPrivateLabelV2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrivateLabelV2" nillable="true" type="tns:PrivateLabelV2" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrivateLabelV2" nillable="true" type="tns:ArrayOfPrivateLabelV2" />
  <xs:complexType name="PrivateLabelV2">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="New" type="xs:boolean" />
          <xs:element minOccurs="0" name="PrivateLabelID" type="xs:int" />
          <xs:element minOccurs="0" name="Remove" type="xs:boolean" />
          <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PrivateLabelV2" nillable="true" type="tns:PrivateLabelV2" />
  <xs:complexType name="ArrayOfResellerType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResellerType" nillable="true" type="tns:ResellerType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResellerType" nillable="true" type="tns:ArrayOfResellerType" />
  <xs:complexType name="ResellerType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsActive" type="xs:int" />
          <xs:element minOccurs="0" name="ResellerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ResellerTypeID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResellerType" nillable="true" type="tns:ResellerType" />
  <xs:simpleType name="OrderPromoV2.RestrictedOneUseOnly">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoRestriction" />
      <xs:enumeration value="Restricted" />
      <xs:enumeration value="RestrictedNewShoppersOnly" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrderPromoV2.RestrictedOneUseOnly" nillable="true" type="tns:OrderPromoV2.RestrictedOneUseOnly" />
  <xs:complexType name="OrderPromoStats">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveFBOrderPromosLast7Days" type="xs:int" />
      <xs:element minOccurs="0" name="ActiveOrderPromosLast7Days" type="xs:int" />
      <xs:element minOccurs="0" name="TotalActiveFBOrderPromos" type="xs:int" />
      <xs:element minOccurs="0" name="TotalActiveOrderPromos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderPromoStats" nillable="true" type="tns:OrderPromoStats" />
  <xs:complexType name="ResellerTypeWithKey">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsActive" type="xs:int" />
      <xs:element minOccurs="0" name="ResellerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResellerTypeID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResellerTypeWithKey" nillable="true" type="tns:ResellerTypeWithKey" />
  <xs:complexType name="CampaignType">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaignTypeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampaignTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CampaignType" nillable="true" type="tns:CampaignType" />
  <xs:complexType name="ProductPromo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:int" />
      <xs:element minOccurs="0" name="AwardAppliesTo" type="tns:ProductPromo.AwardApplyType" />
      <xs:element minOccurs="0" name="CampaignTypeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Currencies" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeprecatedMatchedAwardPromo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpirationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfUses" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PrivateLabels" nillable="true" type="tns:ArrayOfPrivateLabelV2" />
      <xs:element minOccurs="0" name="PromoCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromoExclusion" type="xs:int" />
      <xs:element minOccurs="0" name="PromoExclusionValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromoID" type="xs:int" />
      <xs:element minOccurs="0" name="RankValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Restriction" type="tns:OrderPromoV2.RestrictedOneUseOnly" />
      <xs:element minOccurs="0" name="ShopperIdRestrictions" nillable="true" type="tns:ArrayOfShopperIdRestriction" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Type" type="tns:ProductPromoType.PromoType" />
      <xs:element minOccurs="0" name="UseLimit" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductPromo" nillable="true" type="tns:ProductPromo" />
  <xs:simpleType name="ProductPromo.AwardApplyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HighestPriceFirstMayOverlapConditions" />
      <xs:enumeration value="HighestPriceAwardDisjointFromConditions" />
      <xs:enumeration value="LowestPriceFirstMayOverlapConditions" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ProductPromo.AwardApplyType" nillable="true" type="tns:ProductPromo.AwardApplyType" />
  <xs:complexType name="ArrayOfShopperIdRestriction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShopperIdRestriction" nillable="true" type="tns:ShopperIdRestriction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShopperIdRestriction" nillable="true" type="tns:ArrayOfShopperIdRestriction" />
  <xs:complexType name="ShopperIdRestriction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ShopperIdRestriction" nillable="true" type="tns:ShopperIdRestriction" />
  <xs:simpleType name="ProductPromoType.PromoType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Standard" />
      <xs:enumeration value="AllShopper" />
      <xs:enumeration value="FastballDiscount" />
      <xs:enumeration value="DiscountCode" />
      <xs:enumeration value="ItemTrackingCode" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ProductPromoType.PromoType" nillable="true" type="tns:ProductPromoType.PromoType" />
  <xs:complexType name="ProductPromoType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ProductPromoTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:ProductPromoType.PromoType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductPromoType" nillable="true" type="tns:ProductPromoType" />
  <xs:complexType name="ProductPromoStats">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveAllShopperProductPromosLast7Days" type="xs:int" />
      <xs:element minOccurs="0" name="ActiveDCProductPromosLast7Days" type="xs:int" />
      <xs:element minOccurs="0" name="ActiveFBProductPromosLast7Days" type="xs:int" />
      <xs:element minOccurs="0" name="ActiveITCProductPromosLast7Days" type="xs:int" />
      <xs:element minOccurs="0" name="ActiveProductPromosLast7Days" type="xs:int" />
      <xs:element minOccurs="0" name="TotalActiveAllShopperProductPromos" type="xs:int" />
      <xs:element minOccurs="0" name="TotalActiveDCProductPromos" type="xs:int" />
      <xs:element minOccurs="0" name="TotalActiveFBProductPromos" type="xs:int" />
      <xs:element minOccurs="0" name="TotalActiveITCProductPromos" type="xs:int" />
      <xs:element minOccurs="0" name="TotalActiveProductPromos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductPromoStats" nillable="true" type="tns:ProductPromoStats" />
  <xs:complexType name="ProductPromoSearchItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AwardCurrencies" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpirationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromoCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromoID" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductPromoSearchItem" nillable="true" type="tns:ProductPromoSearchItem" />
  <xs:complexType name="PrivateLabel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" type="xs:int" />
      <xs:element minOccurs="0" name="PrivateLabelID" type="xs:int" />
      <xs:element minOccurs="0" name="PromoCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrivateLabel" nillable="true" type="tns:PrivateLabel" />
  <xs:complexType name="PrivateLabelCount">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Key" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrivateLabelCount" nillable="true" type="tns:PrivateLabelCount" />
  <xs:complexType name="PrivateLabelResellerAssociation">
    <xs:sequence>
      <xs:element minOccurs="0" name="PrivateLabelId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResellerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResellerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrivateLabelResellerAssociation" nillable="true" type="tns:PrivateLabelResellerAssociation" />
  <xs:complexType name="ViralPromo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:int" />
      <xs:element minOccurs="0" name="Awards" nillable="true" type="tns:ArrayOfViralAward" />
      <xs:element minOccurs="0" name="ConfigId" type="xs:int" />
      <xs:element minOccurs="0" name="CouponAvailableCount" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CouponCodes" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="CouponTotalCount" type="xs:int" />
      <xs:element minOccurs="0" name="CouponUsedCount" type="xs:int" />
      <xs:element minOccurs="0" name="CouponsToAdd" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Currencies" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDateOptional" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpirationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstYearOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MappedPromoCodes" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="MaximumQuantityAllowedBeforeSitePricing" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MaximumQuantityAllowedToReceivePrimaryDiscount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MaximumYearsBeforeFallback" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NewShoppersOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="PaymentExclusions" nillable="true" type="tns:ArrayOfPaymentTypeExclusion" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PrivateLabels" nillable="true" type="q3:ArrayOfint" />
      <xs:element minOccurs="0" name="PromoCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequiredYard" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Tlds" nillable="true" type="tns:ArrayOfViralTopLevelDomain" />
      <xs:element minOccurs="0" name="Type" type="tns:ViralPromo.ViralType" />
      <xs:element minOccurs="0" name="UseLimit" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ViralPromoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViralPromo" nillable="true" type="tns:ViralPromo" />
  <xs:complexType name="ArrayOfViralAward">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViralAward" nillable="true" type="tns:ViralAward" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViralAward" nillable="true" type="tns:ArrayOfViralAward" />
  <xs:complexType name="ViralAward">
    <xs:sequence>
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FallbackAmount" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="FallbackAmountText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" type="xs:int" />
      <xs:element minOccurs="0" name="MaximumOrderDiscount" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="MaximumUnitDiscount" type="xs:double" />
      <xs:element minOccurs="0" name="PromoAmount" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViralAward" nillable="true" type="tns:ViralAward" />
  <xs:complexType name="ArrayOfViralTopLevelDomain">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViralTopLevelDomain" nillable="true" type="tns:ViralTopLevelDomain" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViralTopLevelDomain" nillable="true" type="tns:ArrayOfViralTopLevelDomain" />
  <xs:complexType name="ViralTopLevelDomain">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Key" type="xs:int" />
          <xs:element minOccurs="0" name="SuppressIcanFee" type="xs:boolean" />
          <xs:element minOccurs="0" name="SuppressIcanFeeFallback" type="xs:boolean" />
          <xs:element minOccurs="0" name="TopLevelDomainDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TopLevelDomainId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ViralTopLevelDomain" nillable="true" type="tns:ViralTopLevelDomain" />
  <xs:simpleType name="ViralPromo.ViralType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Standard">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Coupon">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ViralPromo.ViralType" nillable="true" type="tns:ViralPromo.ViralType" />
  <xs:complexType name="ViralPromoStats">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveCouponViralPromosLast7Days" type="xs:int" />
      <xs:element minOccurs="0" name="ActiveViralMappedPromosLast7Days" type="xs:int" />
      <xs:element minOccurs="0" name="ActiveViralParentPromosLast7Days" type="xs:int" />
      <xs:element minOccurs="0" name="TotalActiveCouponViralPromos" type="xs:int" />
      <xs:element minOccurs="0" name="TotalActiveViralMappedPromos" type="xs:int" />
      <xs:element minOccurs="0" name="TotalActiveViralParentPromos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViralPromoStats" nillable="true" type="tns:ViralPromoStats" />
  <xs:complexType name="ViralYardValue">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ViralYardValue" nillable="true" type="tns:ViralYardValue" />
  <xs:complexType name="ProductType">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ProductType" nillable="true" type="tns:ProductType" />
  <xs:complexType name="ProductTypeOverride">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ProductType">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductTypeOverride" nillable="true" type="tns:ProductTypeOverride" />
  <xs:complexType name="ProductPromoBulkUpdateItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AwardDiscountTypeSymbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="PromoID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SelectedCurrency" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Fastball.Commons.GDDataCacheFacade" minOccurs="0" name="TransactionalCurrencies" nillable="true" type="q4:ArrayOfCurrency" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductPromoBulkUpdateItem" nillable="true" type="tns:ProductPromoBulkUpdateItem" />
  <xs:complexType name="OrderPromoBulkUpdateItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PromoId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderPromoBulkUpdateItem" nillable="true" type="tns:OrderPromoBulkUpdateItem" />
  <xs:complexType name="ArrayOfOrderPromoV2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderPromoV2" nillable="true" type="tns:OrderPromoV2" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderPromoV2" nillable="true" type="tns:ArrayOfOrderPromoV2" />
  <xs:complexType name="ArrayOfOrderPromoStats">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderPromoStats" nillable="true" type="tns:OrderPromoStats" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderPromoStats" nillable="true" type="tns:ArrayOfOrderPromoStats" />
  <xs:complexType name="ArrayOfResellerTypeWithKey">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResellerTypeWithKey" nillable="true" type="tns:ResellerTypeWithKey" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResellerTypeWithKey" nillable="true" type="tns:ArrayOfResellerTypeWithKey" />
  <xs:complexType name="ArrayOfCampaignType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CampaignType" nillable="true" type="tns:CampaignType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCampaignType" nillable="true" type="tns:ArrayOfCampaignType" />
  <xs:complexType name="ArrayOfProductPromo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductPromo" nillable="true" type="tns:ProductPromo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductPromo" nillable="true" type="tns:ArrayOfProductPromo" />
  <xs:complexType name="ArrayOfProductPromoType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductPromoType" nillable="true" type="tns:ProductPromoType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductPromoType" nillable="true" type="tns:ArrayOfProductPromoType" />
  <xs:complexType name="ArrayOfProductPromoStats">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductPromoStats" nillable="true" type="tns:ProductPromoStats" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductPromoStats" nillable="true" type="tns:ArrayOfProductPromoStats" />
  <xs:complexType name="ArrayOfProductPromoSearchItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductPromoSearchItem" nillable="true" type="tns:ProductPromoSearchItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductPromoSearchItem" nillable="true" type="tns:ArrayOfProductPromoSearchItem" />
  <xs:complexType name="ProductRanks">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductRanks" nillable="true" type="tns:ProductRanks" />
  <xs:complexType name="ArrayOfPrivateLabel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrivateLabel" nillable="true" type="tns:PrivateLabel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrivateLabel" nillable="true" type="tns:ArrayOfPrivateLabel" />
  <xs:complexType name="ArrayOfPrivateLabelCount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrivateLabelCount" nillable="true" type="tns:PrivateLabelCount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrivateLabelCount" nillable="true" type="tns:ArrayOfPrivateLabelCount" />
  <xs:complexType name="ArrayOfPrivateLabelResellerAssociation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrivateLabelResellerAssociation" nillable="true" type="tns:PrivateLabelResellerAssociation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrivateLabelResellerAssociation" nillable="true" type="tns:ArrayOfPrivateLabelResellerAssociation" />
  <xs:complexType name="ArrayOfViralPromo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViralPromo" nillable="true" type="tns:ViralPromo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViralPromo" nillable="true" type="tns:ArrayOfViralPromo" />
  <xs:complexType name="ArrayOfViralPromoStats">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViralPromoStats" nillable="true" type="tns:ViralPromoStats" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViralPromoStats" nillable="true" type="tns:ArrayOfViralPromoStats" />
  <xs:complexType name="ArrayOfViralYardValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViralYardValue" nillable="true" type="tns:ViralYardValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViralYardValue" nillable="true" type="tns:ArrayOfViralYardValue" />
  <xs:complexType name="ArrayOfProductType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductType" nillable="true" type="tns:ProductType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductType" nillable="true" type="tns:ArrayOfProductType" />
  <xs:complexType name="Namespaces">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Namespaces" nillable="true" type="tns:Namespaces" />
  <xs:complexType name="ArrayOfProductTypeOverride">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductTypeOverride" nillable="true" type="tns:ProductTypeOverride" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductTypeOverride" nillable="true" type="tns:ArrayOfProductTypeOverride" />
  <xs:complexType name="PaymentTypeExclusionList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaymentTypeExclusionList" nillable="true" type="tns:PaymentTypeExclusionList" />
  <xs:complexType name="PrivateLabelList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PrivateLabelList" nillable="true" type="tns:PrivateLabelList" />
  <xs:complexType name="TldList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TldList" nillable="true" type="tns:TldList" />
</xs:schema>