Atlantis.Framework.RegDotTypeProductIds/Atlantis.Framework.RegDotTypeProductIds.Tests/RequestFormat.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="request">
    <xs:complexType>
      <xs:attribute type="xs:string" name="tldname" use="required" />
      <xs:attribute type="xs:string" name="plgrouptype" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
