Atlantis.Framework.BonsaiPurchase/Atlantis.Framework.BonsaiPurchase.Impl/Web References/BonsaiPurchase/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="#Bonsai" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="#Bonsai" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="#Bonsai">
      <s:element name="PurchaseChangeAccountRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResourceID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ResourceType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountPurchaseChangeXml" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="RenewalPFID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="RenewalPeriods" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ItemRequestXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PurchaseChangeAccountRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PurchaseChangeAccountRequestResult" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ResultCode" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PurchaseChangeAccountRequestSoapIn">
    <wsdl:part name="parameters" element="tns:PurchaseChangeAccountRequest" />
  </wsdl:message>
  <wsdl:message name="PurchaseChangeAccountRequestSoapOut">
    <wsdl:part name="parameters" element="tns:PurchaseChangeAccountRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="PurchaseChangeAccountRequest">
      <wsdl:input message="tns:PurchaseChangeAccountRequestSoapIn" />
      <wsdl:output message="tns:PurchaseChangeAccountRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PurchaseChangeAccountRequest">
      <soap:operation soapAction="#Bonsai/PurchaseChangeAccountRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PurchaseChangeAccountRequest">
      <soap12:operation soapAction="#Bonsai/PurchaseChangeAccountRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="https://bonsaipurchase.dev.glbt1.gdg/BonsaiPurchase/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="https://bonsaipurchase.dev.glbt1.gdg/BonsaiPurchase/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>