Atlantis.Framework.EcommSwitchPaymentProfile/Atlantis.Framework.EcommSwitchPaymentProfile.Impl/Web References/PaymentProfileUpdate/QueuePPUpdateWebSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://queueppupdate.godaddy.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://queueppupdate.godaddy.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://queueppupdate.godaddy.com/">
      <s:element name="SetResourceProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sShopper" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sResourceId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sNamespace" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sNamespaceType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nPaymentProfileID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sShopperNote" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sEnteredBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetResourceProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetResourceProfileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SetResourceProfileSoapIn">
    <wsdl:part name="parameters" element="tns:SetResourceProfile" />
  </wsdl:message>
  <wsdl:message name="SetResourceProfileSoapOut">
    <wsdl:part name="parameters" element="tns:SetResourceProfileResponse" />
  </wsdl:message>
  <wsdl:portType name="QueuePPUpdateWebSvcSoap">
    <wsdl:operation name="SetResourceProfile">
      <wsdl:input message="tns:SetResourceProfileSoapIn" />
      <wsdl:output message="tns:SetResourceProfileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QueuePPUpdateWebSvcSoap" type="tns:QueuePPUpdateWebSvcSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetResourceProfile">
      <soap:operation soapAction="http://queueppupdate.godaddy.com/SetResourceProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QueuePPUpdateWebSvcSoap12" type="tns:QueuePPUpdateWebSvcSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetResourceProfile">
      <soap12:operation soapAction="http://queueppupdate.godaddy.com/SetResourceProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QueuePPUpdateWebSvc">
    <wsdl:port name="QueuePPUpdateWebSvcSoap" binding="tns:QueuePPUpdateWebSvcSoap">
      <soap:address location="http://gdcomm.dev.glbt1.gdg/WSgdQueuePPUpdate/QueuePPUpdateWebSvc.asmx" />
    </wsdl:port>
    <wsdl:port name="QueuePPUpdateWebSvcSoap12" binding="tns:QueuePPUpdateWebSvcSoap12">
      <soap12:address location="http://gdcomm.dev.glbt1.gdg/WSgdQueuePPUpdate/QueuePPUpdateWebSvc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>