Atlantis.Framework.EcommFreeProduct/Atlantis.Framework.EcommFreeProduct/Atlantis.Framework.EcommFreeProduct.Impl/Web References/ProcessFreeItems/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://godaddy.com/ResourceGeneration" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://godaddy.com/ResourceGeneration" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://godaddy.com/ResourceGeneration">
      <s:element name="ProcessFreeItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sShopperID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRequestXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessFreeItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessFreeItemsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessFreeItemsAndGetFullResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sShopperID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRequestXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessFreeItemsAndGetFullResponseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessFreeItemsAndGetFullResponseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcessFreeItemsSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessFreeItems" />
  </wsdl:message>
  <wsdl:message name="ProcessFreeItemsSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessFreeItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessFreeItemsAndGetFullResponseSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessFreeItemsAndGetFullResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessFreeItemsAndGetFullResponseSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessFreeItemsAndGetFullResponseResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="ProcessFreeItems">
      <wsdl:input message="tns:ProcessFreeItemsSoapIn" />
      <wsdl:output message="tns:ProcessFreeItemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessFreeItemsAndGetFullResponse">
      <wsdl:input message="tns:ProcessFreeItemsAndGetFullResponseSoapIn" />
      <wsdl:output message="tns:ProcessFreeItemsAndGetFullResponseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessFreeItems">
      <soap:operation soapAction="http://godaddy.com/ResourceGeneration/ProcessFreeItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessFreeItemsAndGetFullResponse">
      <soap:operation soapAction="http://godaddy.com/ResourceGeneration/ProcessFreeItemsAndGetFullResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessFreeItems">
      <soap12:operation soapAction="http://godaddy.com/ResourceGeneration/ProcessFreeItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessFreeItemsAndGetFullResponse">
      <soap12:operation soapAction="http://godaddy.com/ResourceGeneration/ProcessFreeItemsAndGetFullResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="https://ecommrestricted.dev.glbt1.gdg/WSgdResourceGeneration/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="https://ecommrestricted.dev.glbt1.gdg/WSgdResourceGeneration/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>