Atlantis.Framework.EcommPricing/Atlantis.Framework.EcommPricing.Impl/Web References/PricingService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://WsgdPricingEstimate/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://WsgdPricingEstimate/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://WsgdPricingEstimate/">
      <s:element name="GetPriceEstimate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lPriceType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="lPrivateLabelID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="lPFID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sCurrency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPromoCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPriceEstimateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPriceEstimateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPriceEstimateEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sRequestXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPriceEstimateExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPriceEstimateExResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPriceEstimateSoapIn">
    <wsdl:part name="parameters" element="tns:GetPriceEstimate" />
  </wsdl:message>
  <wsdl:message name="GetPriceEstimateSoapOut">
    <wsdl:part name="parameters" element="tns:GetPriceEstimateResponse" />
  </wsdl:message>
  <wsdl:message name="GetPriceEstimateExSoapIn">
    <wsdl:part name="parameters" element="tns:GetPriceEstimateEx" />
  </wsdl:message>
  <wsdl:message name="GetPriceEstimateExSoapOut">
    <wsdl:part name="parameters" element="tns:GetPriceEstimateExResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetPriceEstimate">
      <wsdl:input message="tns:GetPriceEstimateSoapIn" />
      <wsdl:output message="tns:GetPriceEstimateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPriceEstimateEx">
      <wsdl:input message="tns:GetPriceEstimateExSoapIn" />
      <wsdl:output message="tns:GetPriceEstimateExSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPriceEstimate">
      <soap:operation soapAction="http://WsgdPricingEstimate/GetPriceEstimate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPriceEstimateEx">
      <soap:operation soapAction="http://WsgdPricingEstimate/GetPriceEstimateEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPriceEstimate">
      <soap12:operation soapAction="http://WsgdPricingEstimate/GetPriceEstimate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPriceEstimateEx">
      <soap12:operation soapAction="http://WsgdPricingEstimate/GetPriceEstimateEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="https://gdcomm.dev.glbt1.gdg/WsgdPricingEstimate/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="https://gdcomm.dev.glbt1.gdg/WsgdPricingEstimate/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>