Atlantis.Framework.MyaAccordionMetaData/Atlantis.Framework.MyaAccordionMetaData.Interface/MetaData/XSDs/Accordion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="accordion">
    <xs:complexType>
      <xs:attribute name="ciexpansion" type="xs:string" use="optional" />
      <xs:attribute name="cirenewnow" type="xs:string" use="required" />
      <xs:attribute name="cisetup" type="xs:string" use="optional" />
      <xs:attribute name="controlpanelrequiresaccount" type="xs:string" use="required" />
      <xs:attribute name="iconcsscoordinates" type="xs:string" use="required" />
      <xs:attribute name="showsetupformanageronly" type="xs:string" use="required" />
      <xs:attribute name="productgroup" type="xs:string" use="required" />
      <xs:attribute name="cmsdisplaygroupidlist" type="xs:string" use="optional" />
      <xs:attribute name="orionproductname" type="xs:string" use="optional" />
      <xs:attribute name="isbundle" type="xs:string" use="optional" />
      <xs:attribute name="producttypes" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>

