Atlantis.Framework.MyaAccordionMetaData/Atlantis.Framework.MyaAccordionMetaData.Interface/MetaData/XSDs/Accordion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="accordion">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element maxOccurs="1" name="productmaps">
          <xs:complexType>
            <xs:sequence minOccurs="1">
              <xs:element maxOccurs="unbounded" name="productmap">
                <xs:complexType>
                  <xs:attribute name="group" type="xs:string" use="required" />
                  <xs:attribute name="typelist" type="xs:string" use="required" />
                  <xs:attribute name="ns" type="xs:string" use="required" />
                  <xs:attribute name="description" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="surveys">
          <xs:complexType>
            <xs:sequence minOccurs="1">
              <xs:element maxOccurs="unbounded" name="survey">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="linkurl">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element maxOccurs="unbounded" name="qskey">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required"/>
                              <xs:attribute name="value" type="xs:string" use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="link" type="xs:string" use="required" />
                        <xs:attribute name="page" type="xs:string" use="optional" />
                        <xs:attribute name="type" type="xs:string" use="required" />
                        <xs:attribute name="identificationrule" type="xs:string" use="optional" />
                        <xs:attribute name="identificationvalue" type="xs:string" use="optional" />
                        <xs:attribute name="isenvsecure" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="type" type="xs:string" use="required" />
            <xs:attribute name="linktext" type="xs:string" use="required" />
            <xs:attribute name="productid" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ciexpansion" type="xs:string" use="optional" />
      <xs:attribute name="cirenewnow" type="xs:string" use="required" />
      <xs:attribute name="cisetup" type="xs:string" use="optional" />
      <xs:attribute name="controlpanelrequiresaccount" type="xs:string" use="required" />
      <xs:attribute name="iconcsscoordinates" type="xs:string" use="required" />
      <xs:attribute name="showsetupformanageronly" type="xs:string" use="required" />
      <xs:attribute name="productgroup" type="xs:string" use="required" />
      <xs:attribute name="cmsdisplaygroupidlist" type="xs:string" use="optional" />
      <xs:attribute name="orionproductname" type="xs:string" use="optional" />
      <xs:attribute name="isbundle" type="xs:string" use="optional" />
      <xs:attribute name="producttypes" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>