Atlantis.Framework.MyaAccordionMetaData/Atlantis.Framework.MyaAccordionMetaData.Interface/MetaData/XSDs/LinkUrl.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="linkurl">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element maxOccurs="unbounded" name="qskey">
          <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="value" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="link" type="xs:string" use="required" />
      <xs:attribute name="page" type="xs:string" use="optional" />
      <xs:attribute name="type" type="xs:string" use="required" />
      <xs:attribute name="identificationrule" type="xs:string" use="optional" />
      <xs:attribute name="identificationvalue" type="xs:string" use="optional" />
      <xs:attribute name="isenvsecure" type="xs:string" use="optional" />
    </xs:complexType>    
  </xs:element>
</xs:schema>