Triplets/ValidateInput/Atlantis.Framework.ValidateInput.Impl/Data/validatefield.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="validatefield">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="length" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="description" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="min" type="xs:unsignedByte" use="required" />
            <xs:attribute name="max" type="xs:unsignedByte" use="required" />
            <xs:attribute name="failurecode" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="regex" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="description" type="xs:string" />
              <xs:element name="server" type="xs:string" minOccurs="0" />
              <xs:element name="client" type="xs:string" minOccurs="0" />
            </xs:sequence>
            <xs:attribute name="matchisvalid" type="xs:boolean" use="required" />
            <xs:attribute name="ignorecase" type="xs:boolean" use="required" />
            <xs:attribute name="failurecode" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="type" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>