Atlantis.Framework.ECCGetShopperByEmailAddress/Atlantis.Framework.ECCGetShopperByEmailAddress.Impl/Web References/eccWs/emailinfo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="ECCEmailInfoNS" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="ECCEmailInfoNS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="ECCEmailInfoNS">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="ValueArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="xsd:integer[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="StringArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="DataRecordEntry">
        <xsd:all>
          <xsd:element name="keys" type="tns:StringArray" />
          <xsd:element name="values" type="tns:StringArray" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="DataRecordArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:DataRecordEntry[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="EmailAccountInfo">
        <xsd:all>
          <xsd:element name="number_of_addresses" type="xsd:integer" />
          <xsd:element name="space_allocated" type="xsd:integer" />
          <xsd:element name="space_used" type="xsd:integer" />
          <xsd:element name="free" type="xsd:integer" />
          <xsd:element name="return" type="xsd:integer" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="AddressListEntry">
        <xsd:all>
          <xsd:element name="addr" type="xsd:string" />
          <xsd:element name="status" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="AddressListArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:AddressListEntry[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="EmailAddressInfo">
        <xsd:all>
          <xsd:element name="username" type="xsd:string" />
          <xsd:element name="domain" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="email_address_id" type="xsd:integer" />
          <xsd:element name="catchall" type="xsd:integer" />
          <xsd:element name="is_spam_filter_on" type="xsd:integer" />
          <xsd:element name="alias_redirect" type="xsd:string" />
          <xsd:element name="forward_list" type="xsd:string" />
          <xsd:element name="other_language" type="xsd:integer" />
          <xsd:element name="max_size" type="xsd:integer" />
          <xsd:element name="used" type="xsd:long" />
          <xsd:element name="quota" type="xsd:long" />
          <xsd:element name="dbnum" type="xsd:integer" />
          <xsd:element name="pod_id" type="xsd:integer" />
          <xsd:element name="status" type="xsd:integer" />
          <xsd:element name="return" type="xsd:integer" />
          <xsd:element name="is_autoresponder_on" type="xsd:integer" />
          <xsd:element name="create_timestamp" type="xsd:string" />
          <xsd:element name="last_update_timestamp" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="EmailAddressListInfo">
        <xsd:all>
          <xsd:element name="username" type="xsd:string" />
          <xsd:element name="domain" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="email_address_id" type="xsd:integer" />
          <xsd:element name="catchall" type="xsd:integer" />
          <xsd:element name="is_spam_filter_on" type="xsd:integer" />
          <xsd:element name="alias_redirect" type="xsd:string" />
          <xsd:element name="forward_list" type="xsd:string" />
          <xsd:element name="other_language" type="xsd:integer" />
          <xsd:element name="max_size" type="xsd:integer" />
          <xsd:element name="pod_id" type="xsd:integer" />
          <xsd:element name="status" type="xsd:integer" />
          <xsd:element name="return" type="xsd:integer" />
          <xsd:element name="create_timestamp" type="xsd:string" />
          <xsd:element name="last_update_timestamp" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="EmailAddressListInfoArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:EmailAddressListInfo[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="EmailAddressListInfoSmall">
        <xsd:all>
          <xsd:element name="username" type="xsd:string" />
          <xsd:element name="domain" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="email_address_id" type="xsd:integer" />
          <xsd:element name="catchall" type="xsd:integer" />
          <xsd:element name="max_size" type="xsd:integer" />
          <xsd:element name="pod_id" type="xsd:integer" />
          <xsd:element name="status" type="xsd:integer" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="EmailAddressListInfoSmallArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:EmailAddressListInfoSmall[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Stats">
        <xsd:all>
          <xsd:element name="addresses_used" type="xsd:integer" />
          <xsd:element name="addresses_total" type="xsd:integer" />
          <xsd:element name="space_used" type="xsd:integer" />
          <xsd:element name="space_allocated" type="xsd:integer" />
          <xsd:element name="space_total" type="xsd:integer" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="createEmailAddressRequest">
    <wsdl:part name="emailaddress" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="pack_uid" type="xsd:string" />
    <wsdl:part name="shopperId" type="xsd:string" />
    <wsdl:part name="resellerId" type="xsd:integer" />
    <wsdl:part name="quota" type="xsd:integer" />
    <wsdl:part name="cc" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="createEmailAddressResponse">
    <wsdl:part name="response" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getActiveAccountsRequest">
    <wsdl:part name="domain" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getActiveAccountsResponse">
    <wsdl:part name="response" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getAuthRecRequest">
    <wsdl:part name="userNum" type="xsd:integer" />
    <wsdl:part name="userId" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getAuthRecResponse">
    <wsdl:part name="result" type="tns:DataRecordEntry" />
  </wsdl:message>
  <wsdl:message name="getPodServiceRequest">
    <wsdl:part name="pod_id" type="xsd:integer" />
    <wsdl:part name="service_type" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getPodServiceResponse">
    <wsdl:part name="result" type="tns:DataRecordEntry" />
  </wsdl:message>
  <wsdl:message name="updateAuthRecRequest">
    <wsdl:part name="rec" type="tns:DataRecordEntry" />
  </wsdl:message>
  <wsdl:message name="updateAuthRecResponse">
    <wsdl:part name="result" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getUnlimitedEmailDetailsRequest">
    <wsdl:part name="userNum" type="xsd:integer" />
    <wsdl:part name="userId" type="xsd:string" />
    <wsdl:part name="showall" type="xsd:integer" />
  </wsdl:message>
  <wsdl:message name="getUnlimitedEmailDetailsResponse">
    <wsdl:part name="result" type="tns:DataRecordArray" />
  </wsdl:message>
  <wsdl:message name="updateUnlimitedEmailDetailsRequest">
    <wsdl:part name="rec" type="tns:DataRecordEntry" />
  </wsdl:message>
  <wsdl:message name="updateUnlimitedEmailDetailsResponse">
    <wsdl:part name="result" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="removeUnlimitedEmailDetailsRequest">
    <wsdl:part name="userNum" type="xsd:integer" />
    <wsdl:part name="userId" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="removeUnlimitedEmailDetailsResponse">
    <wsdl:part name="result" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getUnlimitedEmailSettingsRequest">
    <wsdl:part name="userNum" type="xsd:integer" />
    <wsdl:part name="userId" type="xsd:string" />
    <wsdl:part name="sortby" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getUnlimitedEmailSettingsResponse">
    <wsdl:part name="result" type="tns:DataRecordArray" />
  </wsdl:message>
  <wsdl:message name="updateUnlimitedEmailSettingsRequest">
    <wsdl:part name="rec" type="tns:DataRecordEntry" />
  </wsdl:message>
  <wsdl:message name="updateUnlimitedEmailSettingsResponse">
    <wsdl:part name="result" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="removeUnlimitedEmailSettingsRequest">
    <wsdl:part name="userNum" type="xsd:integer" />
    <wsdl:part name="userId" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="removeUnlimitedEmailSettingsResponse">
    <wsdl:part name="result" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getUnlimitedEmailHistRequest">
    <wsdl:part name="userNum" type="xsd:integer" />
    <wsdl:part name="userId" type="xsd:string" />
    <wsdl:part name="sortby" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getUnlimitedEmailHistResponse">
    <wsdl:part name="result" type="tns:DataRecordArray" />
  </wsdl:message>
  <wsdl:message name="updateUnlimitedEmailHistRequest">
    <wsdl:part name="rec" type="tns:DataRecordEntry" />
  </wsdl:message>
  <wsdl:message name="updateUnlimitedEmailHistResponse">
    <wsdl:part name="result" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="removeUnlimitedEmailHistRequest">
    <wsdl:part name="userNum" type="xsd:integer" />
    <wsdl:part name="userId" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="removeUnlimitedEmailHistResponse">
    <wsdl:part name="result" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getInfoRequest">
    <wsdl:part name="packuid" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getInfoResponse">
    <wsdl:part name="return" type="tns:EmailAccountInfo" />
  </wsdl:message>
  <wsdl:message name="getResellerIdByDomainRequest">
    <wsdl:part name="domain" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getResellerIdByDomainResponse">
    <wsdl:part name="resellerid" type="xsd:integer" />
  </wsdl:message>
  <wsdl:message name="getAccountListByShopperIdRequest">
    <wsdl:part name="shopperid" type="xsd:string" />
    <wsdl:part name="resellerid" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getAccountListByShopperIdResponse">
    <wsdl:part name="list" type="tns:StringArray" />
  </wsdl:message>
  <wsdl:message name="getDomainStatusRequest">
    <wsdl:part name="domain" type="xsd:string" />
    <wsdl:part name="shopperId" type="xsd:string" />
    <wsdl:part name="resellerId" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getDomainStatusResponse">
    <wsdl:part name="response" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getInfoByEmailAddressRequest">
    <wsdl:part name="emailaddress" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getInfoByEmailAddressResponse">
    <wsdl:part name="return" type="tns:EmailAddressInfo" />
  </wsdl:message>
  <wsdl:message name="getAddressInfoByDomainRequest">
    <wsdl:part name="domain" type="xsd:string" />
    <wsdl:part name="activeOnly" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getAddressInfoByDomainResponse">
    <wsdl:part name="list" type="tns:EmailAddressListInfoArray" />
  </wsdl:message>
  <wsdl:message name="getAddressInfoByShopperIdRequest">
    <wsdl:part name="shopperId" type="xsd:string" />
    <wsdl:part name="resellerId" type="xsd:string" />
    <wsdl:part name="activeOnly" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getAddressInfoByShopperIdResponse">
    <wsdl:part name="list" type="tns:EmailAddressListInfoArray" />
  </wsdl:message>
  <wsdl:message name="getAddressInfoSmallByShopperIdRequest">
    <wsdl:part name="shopperId" type="xsd:string" />
    <wsdl:part name="resellerId" type="xsd:string" />
    <wsdl:part name="activeOnly" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getAddressInfoSmallByShopperIdResponse">
    <wsdl:part name="list" type="tns:EmailAddressListInfoSmallArray" />
  </wsdl:message>
  <wsdl:message name="createEmailActionRequest">
    <wsdl:part name="type" type="xsd:string" />
    <wsdl:part name="emailaddress" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="createEmailActionResponse">
    <wsdl:part name="response" type="xsd:integer" />
  </wsdl:message>
  <wsdl:message name="sendWelcomeEmailRequest">
    <wsdl:part name="email" type="xsd:string" />
    <wsdl:part name="shopper" type="xsd:string" />
    <wsdl:part name="plid" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="sendWelcomeEmailResponse">
    <wsdl:part name="response" type="xsd:integer" />
  </wsdl:message>
  <wsdl:message name="getFullAddressListByShopperIdRequest">
    <wsdl:part name="shopperId" type="xsd:string" />
    <wsdl:part name="resellerId" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getFullAddressListByShopperIdResponse">
    <wsdl:part name="response" type="tns:AddressListArray" />
  </wsdl:message>
  <wsdl:message name="getSpamFilterSettingsRequest">
    <wsdl:part name="pod" type="xsd:integer" />
    <wsdl:part name="emailaddress" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getSpamFilterSettingsResponse">
    <wsdl:part name="result" type="tns:StringArray" />
  </wsdl:message>
  <wsdl:message name="getAddressListByShopperIdRequest">
    <wsdl:part name="shopperid" type="xsd:string" />
    <wsdl:part name="resellerid" type="xsd:string" />
    <wsdl:part name="activeOnly" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getAddressListByShopperIdResponse">
    <wsdl:part name="list" type="tns:StringArray" />
  </wsdl:message>
  <wsdl:message name="getAddressListByDomainRequest">
    <wsdl:part name="domain" type="xsd:string" />
    <wsdl:part name="activeOnly" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getAddressListByDomainResponse">
    <wsdl:part name="list" type="tns:StringArray" />
  </wsdl:message>
  <wsdl:message name="getAddressListByPlanUIDRequest">
    <wsdl:part name="uid" type="xsd:string" />
    <wsdl:part name="activeOnly" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getAddressListByPlanUIDResponse">
    <wsdl:part name="list" type="tns:StringArray" />
  </wsdl:message>
  <wsdl:message name="setStatusByEmailAddressRequest">
    <wsdl:part name="emailaddress" type="xsd:string" />
    <wsdl:part name="status" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="setStatusByEmailAddressResponse" />
  <wsdl:message name="setStatusByDomainRequest">
    <wsdl:part name="domain" type="xsd:string" />
    <wsdl:part name="status" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="setStatusByDomainResponse" />
  <wsdl:message name="getShopperIdByEmailAddressRequest">
    <wsdl:part name="emailaddress" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getShopperIdByEmailAddressResponse">
    <wsdl:part name="shopperid" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getResellerIdByEmailAddressRequest">
    <wsdl:part name="emailaddress" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getResellerIdByEmailAddressResponse">
    <wsdl:part name="resellerid" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getSMTPRelayUIDsRequest">
    <wsdl:part name="shopperid" type="xsd:string" />
    <wsdl:part name="resellerid" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getSMTPRelayUIDsResponse">
    <wsdl:part name="uids" type="tns:StringArray" />
  </wsdl:message>
  <wsdl:portType name="/PortType">
    <wsdl:operation name="createEmailAddress">
      <wsdl:input message="tns:createEmailAddressRequest" />
      <wsdl:output message="tns:createEmailAddressResponse" />
    </wsdl:operation>
    <wsdl:operation name="getActiveAccounts">
      <wsdl:input message="tns:getActiveAccountsRequest" />
      <wsdl:output message="tns:getActiveAccountsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAuthRec">
      <wsdl:input message="tns:getAuthRecRequest" />
      <wsdl:output message="tns:getAuthRecResponse" />
    </wsdl:operation>
    <wsdl:operation name="getPodService">
      <wsdl:input message="tns:getPodServiceRequest" />
      <wsdl:output message="tns:getPodServiceResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateAuthRec">
      <wsdl:input message="tns:updateAuthRecRequest" />
      <wsdl:output message="tns:updateAuthRecResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUnlimitedEmailDetails">
      <wsdl:input message="tns:getUnlimitedEmailDetailsRequest" />
      <wsdl:output message="tns:getUnlimitedEmailDetailsResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateUnlimitedEmailDetails">
      <wsdl:input message="tns:updateUnlimitedEmailDetailsRequest" />
      <wsdl:output message="tns:updateUnlimitedEmailDetailsResponse" />
    </wsdl:operation>
    <wsdl:operation name="removeUnlimitedEmailDetails">
      <wsdl:input message="tns:removeUnlimitedEmailDetailsRequest" />
      <wsdl:output message="tns:removeUnlimitedEmailDetailsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUnlimitedEmailSettings">
      <wsdl:input message="tns:getUnlimitedEmailSettingsRequest" />
      <wsdl:output message="tns:getUnlimitedEmailSettingsResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateUnlimitedEmailSettings">
      <wsdl:input message="tns:updateUnlimitedEmailSettingsRequest" />
      <wsdl:output message="tns:updateUnlimitedEmailSettingsResponse" />
    </wsdl:operation>
    <wsdl:operation name="removeUnlimitedEmailSettings">
      <wsdl:input message="tns:removeUnlimitedEmailSettingsRequest" />
      <wsdl:output message="tns:removeUnlimitedEmailSettingsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUnlimitedEmailHist">
      <wsdl:input message="tns:getUnlimitedEmailHistRequest" />
      <wsdl:output message="tns:getUnlimitedEmailHistResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateUnlimitedEmailHist">
      <wsdl:input message="tns:updateUnlimitedEmailHistRequest" />
      <wsdl:output message="tns:updateUnlimitedEmailHistResponse" />
    </wsdl:operation>
    <wsdl:operation name="removeUnlimitedEmailHist">
      <wsdl:input message="tns:removeUnlimitedEmailHistRequest" />
      <wsdl:output message="tns:removeUnlimitedEmailHistResponse" />
    </wsdl:operation>
    <wsdl:operation name="getInfo">
      <wsdl:input message="tns:getInfoRequest" />
      <wsdl:output message="tns:getInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getResellerIdByDomain">
      <wsdl:input message="tns:getResellerIdByDomainRequest" />
      <wsdl:output message="tns:getResellerIdByDomainResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAccountListByShopperId">
      <wsdl:input message="tns:getAccountListByShopperIdRequest" />
      <wsdl:output message="tns:getAccountListByShopperIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getDomainStatus">
      <wsdl:input message="tns:getDomainStatusRequest" />
      <wsdl:output message="tns:getDomainStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="getInfoByEmailAddress">
      <wsdl:input message="tns:getInfoByEmailAddressRequest" />
      <wsdl:output message="tns:getInfoByEmailAddressResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAddressInfoByDomain">
      <wsdl:input message="tns:getAddressInfoByDomainRequest" />
      <wsdl:output message="tns:getAddressInfoByDomainResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAddressInfoByShopperId">
      <wsdl:input message="tns:getAddressInfoByShopperIdRequest" />
      <wsdl:output message="tns:getAddressInfoByShopperIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAddressInfoSmallByShopperId">
      <wsdl:input message="tns:getAddressInfoSmallByShopperIdRequest" />
      <wsdl:output message="tns:getAddressInfoSmallByShopperIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="createEmailAction">
      <wsdl:input message="tns:createEmailActionRequest" />
      <wsdl:output message="tns:createEmailActionResponse" />
    </wsdl:operation>
    <wsdl:operation name="sendWelcomeEmail">
      <wsdl:input message="tns:sendWelcomeEmailRequest" />
      <wsdl:output message="tns:sendWelcomeEmailResponse" />
    </wsdl:operation>
    <wsdl:operation name="getFullAddressListByShopperId">
      <wsdl:input message="tns:getFullAddressListByShopperIdRequest" />
      <wsdl:output message="tns:getFullAddressListByShopperIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSpamFilterSettings">
      <wsdl:input message="tns:getSpamFilterSettingsRequest" />
      <wsdl:output message="tns:getSpamFilterSettingsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAddressListByShopperId">
      <wsdl:input message="tns:getAddressListByShopperIdRequest" />
      <wsdl:output message="tns:getAddressListByShopperIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAddressListByDomain">
      <wsdl:input message="tns:getAddressListByDomainRequest" />
      <wsdl:output message="tns:getAddressListByDomainResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAddressListByPlanUID">
      <wsdl:input message="tns:getAddressListByPlanUIDRequest" />
      <wsdl:output message="tns:getAddressListByPlanUIDResponse" />
    </wsdl:operation>
    <wsdl:operation name="setStatusByEmailAddress">
      <wsdl:input message="tns:setStatusByEmailAddressRequest" />
      <wsdl:output message="tns:setStatusByEmailAddressResponse" />
    </wsdl:operation>
    <wsdl:operation name="setStatusByDomain">
      <wsdl:input message="tns:setStatusByDomainRequest" />
      <wsdl:output message="tns:setStatusByDomainResponse" />
    </wsdl:operation>
    <wsdl:operation name="getShopperIdByEmailAddress">
      <wsdl:input message="tns:getShopperIdByEmailAddressRequest" />
      <wsdl:output message="tns:getShopperIdByEmailAddressResponse" />
    </wsdl:operation>
    <wsdl:operation name="getResellerIdByEmailAddress">
      <wsdl:input message="tns:getResellerIdByEmailAddressRequest" />
      <wsdl:output message="tns:getResellerIdByEmailAddressResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSMTPRelayUIDs">
      <wsdl:input message="tns:getSMTPRelayUIDsRequest" />
      <wsdl:output message="tns:getSMTPRelayUIDsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="/Binding" type="tns:/PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="createEmailAddress">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/createEmailAddress" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActiveAccounts">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/getActiveAccounts" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAuthRec">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/getAuthRec" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPodService">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/getPodService" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAuthRec">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/updateAuthRec" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnlimitedEmailDetails">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/getUnlimitedEmailDetails" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUnlimitedEmailDetails">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/updateUnlimitedEmailDetails" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeUnlimitedEmailDetails">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/removeUnlimitedEmailDetails" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnlimitedEmailSettings">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/getUnlimitedEmailSettings" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUnlimitedEmailSettings">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/updateUnlimitedEmailSettings" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeUnlimitedEmailSettings">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/removeUnlimitedEmailSettings" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnlimitedEmailHist">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/getUnlimitedEmailHist" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUnlimitedEmailHist">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/updateUnlimitedEmailHist" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeUnlimitedEmailHist">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/removeUnlimitedEmailHist" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInfo">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/getInfo" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getResellerIdByDomain">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/getResellerIdByDomain" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccountListByShopperId">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/getAccountListByShopperId" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDomainStatus">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/getDomainStatus" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInfoByEmailAddress">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/getInfoByEmailAddress" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAddressInfoByDomain">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/getAddressInfoByDomain" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAddressInfoByShopperId">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/getAddressInfoByShopperId" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAddressInfoSmallByShopperId">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/getAddressInfoSmallByShopperId" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createEmailAction">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/createEmailAction" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendWelcomeEmail">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/sendWelcomeEmail" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFullAddressListByShopperId">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/getFullAddressListByShopperId" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSpamFilterSettings">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/getSpamFilterSettings" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAddressListByShopperId">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/getAddressListByShopperId" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAddressListByDomain">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/getAddressListByDomain" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAddressListByPlanUID">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/getAddressListByPlanUID" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setStatusByEmailAddress">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/setStatusByEmailAddress" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setStatusByDomain">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/setStatusByDomain" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShopperIdByEmailAddress">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/getShopperIdByEmailAddress" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getResellerIdByEmailAddress">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/getResellerIdByEmailAddress" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSMTPRelayUIDs">
      <soap:operation soapAction="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php/getSMTPRelayUIDs" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="ECCEmailInfoNS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="/">
    <wsdl:port name="/Port" binding="tns:/Binding">
      <soap:address location="http://ecc.devlhvm03.stgwbe.com/soap/emailinfo.php?version=2" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>