Atlantis.Framework.VanityHost/Atlantis.Framework.VanityHost.Impl/VanityHost.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="VanityHosts">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="VanityHost">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="queryitem" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="optional" />
                  <xs:attribute name="value" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="domain" type="xs:string" use="required" />
            <xs:attribute name="dottype" type="xs:string" use="required" />
            <xs:attribute name="linkcontext" type="xs:unsignedByte" use="required" />
            <xs:attribute name="linkname" type="xs:string" use="required" />
            <xs:attribute name="redirect" type="xs:string" use="required" />
            <xs:attribute name="redirecttype" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>